{% extends 'base/base.html' %}
{% load staticfiles %}
{% load humanize %}


{% block title %}
    Busca tus platillos | Deli&Go
{% endblock %}


{% block styles %}

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    <link rel="stylesheet" href="{% static 'base/css/stars.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/starability/starability-minified/starability-all.min.css' %}">
    <style>

        body {
            margin-top: 116px;
        }

        .bg-buscador {
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url({% static 'base/img/bg-buscador.jpg' %}) center center;
            background-size: cover;
        }

        .starability-basic label:before, label:after {
            display: none;
        }

        .starability-basic [type="radio"] + label {
            padding-left: 0 !important;
            height: 30px !important;
        }

        .starability-basic.sm {
            width: 75px;
            min-height: inherit;
        }

        .starability-basic.sm > label {
            width: 15px;
            height: 15px;
            background-size: 15px;
        }

        .starability-basic.sm > input:checked ~ label, .starability-basic.sm > input:focus ~ label, .starability-basic.sm > input:hover ~ label {
            background-position: 0 -15px;
        }

        .titulo-restaurante {
            width: 100%;
            margin: 15px 0 !important;
            text-align: center;
            border-bottom: 1px solid #BDBDBD;
            line-height: 0.1em;
        }

        .titulo-restaurante a {
            padding: 0 10px;
            background-color: #fafdfa;
        }

        .buscador-main {
            color: #fff;
        }

        .buscador-main input {
            padding: 0 10px !important;
            background: white;
            border-radius: 3px !important;
        }

        .info-platillo {
            padding: 10px;
        }

        .info-platillo p {
            margin-bottom: 0;
        }

        .barra-buscador {
            position: fixed;
            padding: 0 15px !important;
            top: 64px;
            width: 100%;
            left: 15px;
            background: #fff;
            z-index: 1000;
            border-top: 1px solid #eee;
        }

        .estilos-container {
            padding: 0 20px;
        }

        .slick-prev {
            left: -5px;
        }

        .slick-next {
            right: -5px;
        }

        .slick-prev:before, .slick-next:before {
            color: #9e9e9e;
        }

        .estilo {
            text-align: center;
            cursor: pointer;
            display: inline-block;
            font-weight: 600 !important;
            line-height: 1em;
        }

        .estilo:hover {
            color: #f4511e;
        }

        .estilo img {
            padding: 5px 10px 0 10px;
            margin: 0 auto;
            height: 50px;
            cursor: pointer;
        }

        .estilo input {
            display: none;
        }

        .estilo label {
            vertical-align: sub;
            font-size: 0.75em;
            font-weight: 600 !important;
            cursor: pointer;
        }

        .estilo.checked {
            color: #e91e63;
            background-color: #fafafa;
        }

        .estilo.checked img {
            opacity: 0.4;
            filter: alpha(opacity=40);
        }

        .badge-checked {
            position: absolute;
            margin-left: 18px;
            margin-top: 4px;
            background-color: #208b81;
            opacity: 0.8;
        }

        .estilo:not(.checked) .badge-checked {
            display: none;
        }

        .btn-tags {
            position: relative;
        }

        .btn-add {
            line-height: 0;
            padding: 2px 15px;
            border: 1px solid #E0e0e0;
            color: #e91e63;
        }

        .btn-add i {
            font-size: 1.2em !important;
        }

        .btn-add:hover {
            background: #e91e63;
            border-color: #e91e63;
            color: #fff !important;
        }

        .btn-tags ul.dropdown-menu {
            position: absolute;
            width: 100%;
        }

        .dropdown-menu label {
            font-weight: 400 !important;
        }

        #btn-filters {
            top: -15px;
            margin: 0;
            position: relative;
            padding: 0;
        }

    </style>
{% endblock %}


{% block content %}
    <form method="get" id="form-search">
        <div class="hidden">
            {{ busquedaForm.generic }}
            {% for field in busquedaForm %}
                {% if field.label == "latitud"  or field.label == "longitud" %}
                    {{ field }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="row barra-buscador shadow">
            <div class="col-md-3 no-paddings">
                <div class="input-group" style="margin-top: 12px;">
                    <span class="input-group-addon"><i class="ion-ios-location-outline fa-2x text-danger"></i></span>
                    <input type="text" name="ubicacion" id="ubicacion" class="form-control input-lg truncate"
                           onkeyup="buscarUbicacion()">
                    <span class="input-group-addon pointer" id="btn-submit">
                        <i class="ion-ios-search text-info fa-2x"></i>
                    </span>
                    <span class="input-group-addon pointer visible-xs" id="btn-filters">
                        <i class="material-icons text-danger fa-2x">filter_list</i>
                    </span>
                </div>
            </div>
            <div id="filters">
                <div class="col-md-7">
                    <div class="estilos-container">
                        {% for estilo in estilos %}
                            <div class="estilo">
                                {% with "base/img/estilos/"|add:estilo.nombre_icono as icono %}
                                    <span class="badge badge-checked"><i class="ion-checkmark"></i></span>
                                    <img src="{% static icono %}">

                                    {% for value, text in busquedaForm.tipo.field.choices %}
                                        {% ifequal estilo.id|add:"0" value|add:"0" %}
                                            <label for="estilo{{ value }}" class="label-estilo">
                                                <input type="checkbox" id="estilo{{ value }}" name="tipo"
                                                       value="{{ value }}"
                                                        {% if value|stringformat:"s" in busquedaForm.tipo.data %}
                                                       checked="checked"
                                                        {% endif %}
                                                />
                                                {{ text }}
                                            </label>
                                        {% endifequal %}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="btn-tags">
                        <a href="#" class="btn btn-link no-shadow btn-lg btn-block dropdown-toggle"
                           style="margin-top: 18px;" id="btn-tags"
                           data-toggle="dropdown"
                           aria-expanded="false">
                            <i class="ion-ios-settings-strong mr-xxs text-danger"></i>
                            Filtrar platillos
                            <span class="badge" id="badge-tags"></span>
                            <i class="ion-ios-arrow-down mt-xxxs ml-xxs"></i>

                        </a>
                        <ul class="dropdown-menu">
                            {% for field in busquedaForm.tags %}
                                <li>
                                    <a href="">{{ field }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row section">
        {% if restaurantes %}
            {% for restaurante in restaurantes %}
                <div class="col-xs-12 mt-s">
                    <div class="center text-center hidden">
                        <a href="{% url 'usuarios_app:detalleRestaurante' restaurante.slug %}">
                            <div id="imagen-restaurante{{ restaurante.id }}" class="inline border">
                                <style>
                                    #imagen-restaurante{{ restaurante.id }} {
                                        height: 3em;
                                        width: 3em;
                                        background: url({{ restaurante.urlImagen }});
                                        background-position: center center;
                                        background-size: cover;
                                        border-radius: 50%;
                                        position: relative;
                                        content: '';
                                    }
                                </style>
                            </div>
                        </a>
                    </div>
                    <h3 class="text-center m-0 titulo-restaurante">
                        <a href="{% url 'usuarios_app:detalleRestaurante' restaurante.slug %}">
                            <b>{{ restaurante.contacto.nombre_restaurante }}</b>
                        </a>
                    </h3>

                    <p class="text-center m-0">
                        <small>Compra minima: <b>${{ restaurante.compra_minima|floatformat:2|intcomma }}</b></small>
                    </p>
                    <p class="text-center m-0" style="line-height: 1em;">
                        <small>Envio: <b>${{ restaurante.costo_envio|floatformat:2|intcomma }}</b></small>
                    </p>
                    <div class="text-center">
                        <div class="stars-container inline" style="top: -4px;">
                            <div class="stars-top"
                                 style="width: {% widthratio restaurante.comentarioAvg 5 100 %}%;">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                            <div class="stars-bottom">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                        </div>
                    </div>
                    {% comment %}
                    todo:hey JC aqui esta la imagen del restaurante
                    <img src="{{ restaurante.urlImagen }}">
                    {% endcomment %}
                    {% if restaurante.filtrados %}
                        {% for platillo in restaurante.filtrados %}
                            <div class="col-md-3">
                                <div class="p-0 div-platillo mb-s" onclick="verDetallePlatillo();">
                                    <a href="{% url 'servicios_app:detallePlatillo' restaurante.slug platillo.slug %}">
                                        <div class="imagen-platillo border" id="imagen-platillo{{ platillo.id }}">
                                            <style>
                                                #imagen-platillo{{ platillo.id }} {
                                                    background: url({{ platillo.imagen.url }}) center center;
                                                    background-size: cover;
                                                    padding-bottom: 62.5%;
                                                }
                                            </style>
                                        </div>
                                    </a>
                                    <div class="info-platillo">
                                        <a href="{% url 'servicios_app:detallePlatillo' restaurante.slug platillo.slug %}">
                                            <h5 class="m-0 truncate">{{ platillo.nombre }}</h5>
                                        </a>
                                        <div class="row mt-xxxs">
                                            <div class="col-xs-6">
                                                <p class="text-primary font-600 left mt-xxxs">
                                                    <i class="ion-social-usd"></i>&nbsp;{{ platillo.precio|floatformat:'2' }}
                                                </p>
                                            </div>
                                            <div class="col-xs-6">
                                            <span class="no-shadow right pointer mt-xxxs btn-add animate"
                                                  onclick="ajaxAgregarPlatillo({{ platillo.id|floatformat:'0' }})">
                                                <i class="ion-android-add"></i>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for platillo in restaurante.platillo_set.all %}
                            <div class="col-md-3">
                                <div class="p-0 div-platillo mb-s" onclick="verDetallePlatillo();">
                                    <a href="{% url 'servicios_app:detallePlatillo' restaurante.slug platillo.slug %}">
                                        <div class="imagen-platillo border" id="imagen-platillo{{ platillo.id }}">
                                            <style>
                                                #imagen-platillo{{ platillo.id }} {
                                                    background: url({{ platillo.imagen.url }}) center center;
                                                    background-size: cover;
                                                    padding-bottom: 62.5%;
                                                }
                                            </style>
                                        </div>
                                    </a>
                                    <div class="info-platillo">
                                        <a href="{% url 'servicios_app:detallePlatillo' restaurante.slug platillo.slug %}">
                                            <h5 class="m-0 truncate">{{ platillo.nombre }}</h5>
                                        </a>
                                        <div class="row mt-xxxs">
                                            <div class="col-xs-6">
                                                <p class="text-primary font-600 left mt-xxxs">
                                                    <i class="ion-social-usd"></i>&nbsp;{{ platillo.precio|floatformat:'2' }}
                                                </p>
                                            </div>
                                            <div class="col-xs-6">
                                            <span class="no-shadow right pointer mt-xxxs btn-add animate"
                                                  onclick="ajaxAgregarPlatillo({{ platillo.id|floatformat:'0' }})">
                                                <i class="ion-android-add"></i>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="col-xs-12">
                <p>{{ mensajeError }}</p>
            </div>
        {% endif %}
    </div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="{% static 'geoposition/geoposition.js' %}"></script>
    <script>

        $('.estilos-container').slick({
            infinite: false,
            slidesToShow: 7,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1280,
                    settings: {
                        slidesToShow: 6
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 5
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 4
                    }
                }
            ]
        });

        $('#btn-filters').on('click', function () {
            $('#filters').slideToggle();
        });

        function ajaxAgregarPlatillo(id_platillo) {
            console.log(id_platillo);
            $.ajax({
                url: "{% url 'servicios_app:ajaxAgregarPlatillo' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function (xhr) {
                },
                success: function (data) {
                    $.notify({
                        // options
                        message: 'Se ha agregado el platillo a tu pedido'
                    }, {
                        // settings
                        type: 'danger',
                        delay: 500
                    });
                },
                error: function (xhr, errmsg, err) {
                    alert("no se pudo agregar el platillo")
                }
            });
        }

        function verDetallePlatillo() {
            var $this = $(this);
            $this.closest('form').submit();
        }

        $('#btn-submit').on('click', function () {
            $('#form-search').submit();
        });

        $(function () {

            $('nav.navbar').addClass('navbar-fixed-top no-shadow');

            function processGeocoder(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        console.log(results[0].formatted_address);
                        console.log(results[0]);
                        try {
                            var colonia = results[0].address_components[1].short_name + " " + results[0].address_components[0].short_name;
                            var ciudad = results[0].address_components[2].short_name + " " + results[0].address_components[3].short_name;
                            sessionStorage.setItem("colonia", colonia);
                            sessionStorage.setItem("ciudad", ciudad);
                            console.log("se supone que se salvo")
                        } catch (err) {
                            console.log("algo paso");
                            console.log(err)
                        }
                        var ubicacion = document.getElementById("ubicacion");
                        ubicacion.value = results[0].formatted_address;
                    } else {
                        console.log("google no encontro la direccion")
                    }
                } else {
                    console.log("geocoding callo debido a :" + status)
                }
            }

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function (objPosition) {
                        var lon = objPosition.coords.longitude;
                        var lat = objPosition.coords.latitude;
                        var latAnt = 0;
                        var lonAnt = 0;
                        try {
                            latAnt = parseFloat($('#id_latitud').val());
                            lonAnt = parseFloat($('#id_longitud').val());
                        } catch (err) {
                            console.log(err.message);
                        }
                        if (isNaN(latAnt) || isNaN(lonAnt)) {
                            document.getElementById("id_latitud").value = lat;
                            document.getElementById("id_longitud").value = lon;
                            var miLocalizacion = new google.maps.LatLng(lat, lon);
                        } else {
                            document.getElementById("id_latitud").value = latAnt;
                            document.getElementById("id_longitud").value = lonAnt;
                            var miLocalizacion = new google.maps.LatLng(latAnt, lonAnt);
                        }
                        var geocoder = new google.maps.Geocoder();
                        geocoder.geocode({'latLng': miLocalizacion}, processGeocoder)
                    },
                    function (objPositionError) {
                        switch (objPositionError.code) {
                            case objPositionError.PERMISSION_DENIED:
                                console.log("No se ha permitido el acceso a la posición del usuario.");
                                break;
                            case objPositionError.POSITION_UNAVAILABLE:
                                console.log("No se ha podido acceder a la información de su posición.");
                                break;
                            case objPositionError.TIMEOUT:
                                console.log("El servicio ha tardado demasiado tiempo en responder.");
                                break;
                            default:
                                console.log("Error desconocido.");
                        }
                    },
                    {
                        maximumAge: 75000,
                        timeout: 15000
                    });
            }
            else {
                console.log("Su navegador no soporta la API de geolocalización.");
            }
        });
        function buscarUbicacion() {
            geocoder = new google.maps.Geocoder();
            address = jQuery("#ubicacion").val();
            geocoder.geocode({'address': address}, function (result, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    {% comment %}
                    console.log("intentando obtenet la calle");
                    try {
                        var colonia = result[0].address_components[1].short_name + "," + result[0].address_components[2].short_name;
                        var ciudad = result[0].address_components[3].short_name;
                        sessionStorage.setItem("colonia", colonia);
                        sessionStorage.setItem("ciudad", ciudad);
                        console.log("se supone que se salvo")
                    } catch (err) {
                        console.log("algo paso");
                        console.log(err)
                    }
                    {% endcomment %}
                    var latitud = result[0].geometry.location.lat();
                    var longitud = result[0].geometry.location.lng();
                    document.getElementById("id_latitud").value = latitud;
                    document.getElementById("id_longitud").value = longitud;
                }
            });
        }

        $(function () {

            $('input[name="ubicacion"]').on('keyup', function (e) {
                if (e.which == 10 || e.which == 13) {
                    this.form.submit();
                }
            });

            $('input[name="tipo"], input[name="tags"]').on('input property change', function () {
                $(this).closest('form').submit();
            });

            $('.estilo').each(function () {
                var $checkbox = $(this).find('input[type="checkbox"][name="tipo"]');
                if ($checkbox.attr('checked')) {
                    $(this).addClass('checked');
                }
                else {
                    $(this).removeClass('checked');
                }
            });

            // Funciones para los iconos de estilos y filtros
            $('.estilo').on('click', function () {
                // Toggle checkbox on click
                var $checkbox = $(this).find('input[type="checkbox"][name="tipo"]');
                $checkbox.attr('checked', !$checkbox.attr('checked'));

                if ($checkbox.attr('checked')) {
                    // alert('checked');
                    $(this).addClass('checked');
                }
                else {
                    $(this).removeClass('checked');
                }
                $(this).closest('form').submit();
            });

            $('.label-estilo').on('click', function (e) {
                // Evita que al dar click en un label no se tome en cuenta la funcion
                // anterior de click en el cuadro de estilos
                e.preventDefault();
                // e.stopPropagation();
            });

            if (document.body.clientWidth < 960) {
                setTimeout(function () {
                    $('#filters').slideToggle();
                }, 2000);
            }
        });

    </script>
{% endblock %}