{% extends 'base/base.html' %}

{% load staticfiles %}
{% load humanize %}

{% block title %}
    Detalle platilllo | Deli&Go
{% endblock %}


{% block styles %}

    <link rel="stylesheet" href="{% static 'base/css/stars.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/starability/starability-minified/starability-all.min.css' %}">

    <style>

        .starability-basic label:before, label:after {
            display: none;
        }

        .starability-basic [type="radio"] + label {
            padding-left: 0 !important;
            height: 30px !important;
        }

        .starability-basic.sm {
            width: 75px;
            min-height: inherit;
        }

        .starability-basic.sm > label {
            width: 15px;
            height: 15px;
            background-size: 15px;
        }

        .starability-basic.sm > input:checked ~ label, .starability-basic.sm > input:focus ~ label, .starability-basic.sm > input:hover ~ label {
            background-position: 0 -15px;
        }


    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row section">
            <div class="col-md-7">
                <div id="imagen-platillo" class="border">
                    <style>
                        #imagen-platillo {
                            background: url({{ platillo.imagen.url }}) center center;
                            background-size: cover;
                            padding-bottom: 56%;
                        }
                    </style>
                </div>
                <div class="white p-xxs border mt--xxs">
                    <h6 class="font-600 mt--xs mb-0">
                        <a href="{% url 'usuarios_app:detalleRestaurante' platillo.restaurante.slug %}">
                            <div id="imagen-restaurante" class="inline border">
                                <style>
                                    #imagen-restaurante {
                                        height: 2.8em;
                                        width: 2.8em;
                                        background: url({{ platillo.restaurante.urlImagen }}) center center;
                                        background-size: cover;
                                        border-radius: 50%;
                                        top: 1em;
                                        position: relative;
                                        content: '';
                                    }
                                </style>
                            </div>
                            <span class="inline font-800">
                                &nbsp;&nbsp;{{ platillo.restaurante.contacto.nombre_restaurante }}
                            </span>
                            <br>
                            <div class="stars-container inline" style="top: 6px; left: 50px;">
                                <div class="stars-top"
                                     style="width: {% widthratio platillo.restaurante.comentarioAvg 5 100 %}%;">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="stars-bottom">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                        </a>
                    </h6>
                </div>
            </div>
            <div class="col-md-5">
                <h3 class="m-t-m mb-xxs">
                    <b>{{ platillo.nombre }}</b>
                </h3>
                <div>
                    {% for tag in platillo.tags.all %}
                        <span class="label label-tag">{{ tag }}</span>
                    {% endfor %}
                </div>
                <h6>
                    <i class="ion-android-time"></i>&nbsp;{{ platillo.tiempo_preparacion }} minutos.
                    &nbsp;&nbsp;
                    <span class="text-muted">
                        <i class="ion-ios-calendar-outline"></i>&nbsp;
                        Disponible:
                        {{ platillo.hora_inicia|time:"h:i A" }} - {{ platillo.hora_final|time:"h:i A" }}
                    </span>
                </h6>

                <p class="text-black text-justify">
                    {{ platillo.descripcion }}
                </p>
                <div class="row">
                    {% for control in platillo.control_nutrimental.all %}
                        <div class="col-xs-6">
                            <li class="text-default">{{ control }}</li>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mt-xs">
                    <div class="col-xs-6">
                        <h4 class="text-primary font-600 left m-t-sm">
                            <i class="ion-social-usd"></i>&nbsp;{{ platillo.precio|floatformat:'2' }}
                        </h4>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-lg btn-warning no-shadow right"
                                onclick="ajaxAgregarPlatillo({{ platillo.id|floatformat:'0' }})">
                            <i class="ion-bag"></i>&nbsp;&nbsp;Agregar a pedido
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <hr>
        <h4 class="font-800 mt-l">
            Sugerencias de
            <a href="{% url 'usuarios_app:detalleRestaurante' platillo.restaurante.slug %}">
                {{ platillo.restaurante.contacto.nombre_restaurante }}
            </a>
        </h4>
    </div>
    <div class="container">
        <div class="row section">
            {% for platillo in otrosPlatillos %}
                <div class="col-md-3">
                    {% include 'base/base_platillo_card.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="white border-top">
        <div class="container">
            <div class="row section">
                <div class="col-xs-12">
                    <h4 class="font-800 text-center">
                        Comentarios ({{ platillo.restaurante.comentarios_set.count }})
                    </h4>

                    <div class="row section">
                        {% if not platillo.restaurante.comentarios_set.count %}
                            <p>No hay comentarios aún</p>
                        {% else %}
                            {% for comentario in platillo.restaurante.comentarios_set.all %}
                                <div class="col-md-6">
                                    <div class="row p-sm m-t-none m-b-none b-b">
                                        <div class="col col-sm-2">
                                            <div class="circle responsive-img center-block avatar-sm m-t-xs"
                                                 id="comentario{{ comentario.id }}">
                                                <style>
                                                    #comentario{{ comentario.id }} {
                                                        background: url({{ user.get_image_url }}) center center;
                                                        width: 50px;
                                                        height: 50px;
                                                        border-radius: 50%;
                                                        background-size: cover;
                                                    }
                                                </style>
                                            </div>
                                        </div>
                                        <div class="col col-sm-10">
                                            <b class="comentario-nombre">{{ comentario.usuario.get_short_name }}</b>
                                            <p class="comentario-texto grey-text mb-0 mt-xxxs">{{ comentario.texto }}</p>
                                            <div class="stars-container inline" style="top: -6px;">
                                                <div class="stars-top"
                                                     style="width: {% widthratio comentario.valoracion 5 100 %}%;">
                                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                                </div>
                                                <div class="stars-bottom">
                                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                                </div>
                                            </div>
                                            <div class="comentario-fecha grey-text inline ml-xs"
                                                 style="top: -8px; position: relative;">
                                                <small>{{ comentario.fecha|naturaltime }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function ajaxAgregarPlatillo(id_platillo) {
            $.ajax({
                url: "{% url 'servicios_app:ajaxAgregarPlatillo' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function () {

                },
                success: function () {
                    $.notify({
                        // options
                        message: 'Se ha agregado el platillo a tu pedido'
                    }, {
                        // settings
                        type: 'danger',
                        delay: 500
                    });
                },
                error: function (xhr, errmsg, err) {
                    alert("no se pudo agregar el platillo")
                }
            });
        }
        function ajaxAgregarFavoritos(id_platillo) {
            $.ajax({
                url: "{% url 'servicios_app:ajaxAgregarFavoritos2' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function (xhr) {

                },
                success: function (data) {
                    alert("Platillo Agregado a Favoritos")
                },
                error: function (xhr, errmsg, err) {
                    alert("No puedes tener 2 veces el mismo Platillo en favoritos")
                }
            });
        }
        function ajaxAgregarFavoritos2(id_platillo) {
            $.ajax({
                url: "{% url 'servicios_app:ajaxAgregarFavoritos2' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function (xhr) {

                },
                success: function (data) {
                    alert("Platillo Agregado a Favoritos")
                },
                error: function (xhr, errmsg, err) {
                    alert("No puedes tener 2 veces el mismo Platillo en favoritos")
                }
            });
        }
    </script>
{% endblock %}