{% extends 'base/base.html' %}

{% load staticfiles %}
{% load humanize %}

{% block title %}
    {{ restaurante.contacto.nombre_restaurante }} | Deli&Go
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'base/css/stars.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/starability/starability-minified/starability-all.min.css' %}">
    <style>

        .starability-basic label:before, label:after {
            display: none;
        }

        .starability-basic [type="radio"] + label {
            padding-left: 0 !important;
            height: 30px !important;
        }

        .starability-basic.sm {
            width: 75px;
            min-height: inherit;
        }

        .starability-basic.sm > label {
            width: 15px;
            height: 15px;
            background-size: 15px;
        }

        .starability-basic.sm > input:checked ~ label, .starability-basic.sm > input:focus ~ label, .starability-basic.sm > input:hover ~ label {
            background-position: 0 -15px;
        }

        #header {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{ restaurante.urlImagen }}) center center;
            width: 100%;
            height: 200px;
            background-size: cover;
            color: #fff !important;
        }

        /* Blur */
        {% with platillos|first as platillo %}
            .bg {
                background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ platillo.urlImagen }}) center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                left: -15px;
                right: -15px;
                top: -15px;
                bottom: -15px;
                position: absolute;
                z-index: 0;
                filter: url(#blur);
                filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
            }
        {% endwith %}

        .blur {
            height: auto;
            width: 100%;
            position: relative;
            overflow: hidden;
            z-index: 0;
        }

        .blur:after {
            content: '';
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, .4);
            position: absolute;
        }

        .avatar.border {
            border: 3px solid #eee;
        }

        .separador {
            width: 100%;
            margin: 15px 0 !important;
            text-align: center;
            border-bottom: 1px solid #eeeeee;
            line-height: 0.1em;
        }

        .separador * {
            padding: 0 18px;
            background-color: #fafdfa;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="blur">
        <div class="bg"></div>
        <div class="container" style="position:relative; z-index:1;">
            <div class="row section">
                <div class="col-xs-12 col-md-2 text-center">
                    <div class="avatar center border" id="imagen-restaurante">
                        <style>
                            #imagen-restaurante {
                                background: url({{ restaurante.urlImagen }}) center center;
                                background-color: #fff;
                                background-size: cover;
                                width: 100px;
                                height: 100px;
                                margin-top: 12px !important;
                            }
                        </style>
                    </div>
                </div>
                <div class="col-xs-12 col-md-10 text-white">
                    <h3 class="mt-xxs text-white">
                        {{ restaurante.contacto.nombre_restaurante }}
                    </h3>
                    <a href="#comentarios">
                        <div class="stars-container pointer inline mt--s" style="top: -4px;">
                            <div class="stars-top pointer"
                                 style="width: {% widthratio restaurante.comentarioAvg 5 100 %}%;">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                            <div class="stars-bottom pointer">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                        </div>
                        <span class="inline" style="top: -6px; position: relative;">
                            ({{ restaurante.comentarios_set.count }})
                        </span>
                    </a>
                    <p class="no-margins"><i
                            class="material-icons">location_on</i>{{ restaurante.contacto.nombre_direccion }}</p>
                </div>
            </div>
        </div>
    </div>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <filter id="blur">
            <feGaussianBlur stdDeviation="10"/>
        </filter>
    </svg>
    <div class="white border-bottom">
        <div class="container">
            <div class="row pt-xs pb-xs row-centered">
                <div class="col-xs-4 col-md-3 text-center col-centered">
                    <p class="m-0 inline">
                        <i class="material-icons">timer</i>
                        <small>Horario: <b>{{ restaurante.hora_abre|time:"h:i A" }}
                            - {{ restaurante.hora_cierra|time:"h:i A" }}</b></small>
                    </p>
                </div>
                <div class="col-xs-4 col-md-3 text-center col-centered">
                    <p class="m-0 inline">
                        <i class="ion-bag"></i>
                        <small>Compra minima: <b>${{ restaurante.compra_minima|floatformat:2|intcomma }}</b></small>
                    </p>
                </div>
                <div class="col-xs-4 col-md-3 text-center col-centered">
                    <p class="m-0 inline">
                        <i class="ion-paper-airplane"></i>
                        <small>Costo de envio: <b>${{ restaurante.costo_envio|floatformat:2|intcomma }}</b></small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-l">
        <div class="col-lg-12 text-center mb-xs">
            <h3 class="font-600 separador"><span>Nuestro menú</span></h3>
        </div>
    </div>
    <div class="container">
        <div class="row section">
            {% for platillo in platillos %}
                <div class="col-md-3">
                    {% include 'base/base_platillo_card.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="white border-top">
        <div class="container">
            <div class="row section">
                <div class="col-xs-12" id="comentarios">
                    <h4 class="font-800 text-center">
                        Comentarios ({{ restaurante.comentarios_set.count }})
                    </h4>
                    <div class="row section">
                        {% if not restaurante.comentarios_set.count %}
                            <p>No hay comentarios aún</p>
                        {% else %}
                            {% for comentario in restaurante.comentarios_set.all %}
                                <div class="col-md-6">
                                    <div class="row p-sm m-t-none m-b-none b-b">
                                        <div class="col col-sm-2">
                                            <div class="circle responsive-img center-block avatar-sm m-t-xs"
                                                 id="comentario{{ comentario.id }}">
                                                <style>
                                                    #comentario{{ comentario.id }} {
                                                        background: url({{ user.get_image_url }}) center center;
                                                        width: 50px;
                                                        height: 50px;
                                                        border-radius: 50%;
                                                        background-size: cover;
                                                    }
                                                </style>
                                            </div>
                                        </div>
                                        <div class="col col-sm-10">
                                            <b class="comentario-nombre">{{ comentario.usuario.get_short_name }}</b>
                                            <p class="comentario-texto grey-text mb-0 mt-xxxs">{{ comentario.texto }}</p>
                                            <div class="stars-container inline" style="top: -6px;">
                                                <div class="stars-top"
                                                     style="width: {% widthratio comentario.valoracion 5 100 %}%;">
                                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                                </div>
                                                <div class="stars-bottom">
                                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                                </div>
                                            </div>
                                            <div class="comentario-fecha grey-text inline ml-xs"
                                                 style="top: -8px; position: relative;">
                                                <small>{{ comentario.fecha|naturaltime }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if puede_comentar %}
                        <div class="section col-lg-12 text-center">
                            <b>Deja tu comentario</b>
                            <form action="{% url 'usuarios_app:detalleRestaurante' restaurante.slug %}"
                                  method="POST">
                                {% csrf_token %}
                                <div class="input-field">
                                    <fieldset class="starability-basic">
                                        {% for radio in comentario_form.calificacion %}
                                            {{ radio.tag }}
                                            <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                        {% endfor %}
                                    </fieldset>
                                </div>

                                <div class="form-group">
                                    {{ comentario_form.comentario.label_tag }}
                                    {{ comentario_form.comentario }}
                                </div>

                                <button class="btn btn-success btn-lg right m-t-md" type="submit">Comentar</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="col-xs-12 text-center">
                            <b>
                                Para comentar debes hacer un pedido a este restaurante
                            </b>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>

        function ajaxAgregarPlatillo(id_platillo) {
            console.log(id_platillo);
            $.ajax({
                url: "{% url 'servicios_app:ajaxAgregarPlatillo' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function (xhr) {

                },
                success: function (data) {
                    $.notify({
                        // options
                        message: 'Se ha agregado el platillo a tu pedido'
                    }, {
                        // settings
                        type: 'danger',
                        delay: 500,
                    });
                },
                error: function (xhr, errmsg, err) {
                    alert("no se pudo agregar el platillo")
                }
            });
        }
        function ajaxAgregarFavoritos(id_restaurante) {
            console.log(id_restaurante);
            $.ajax({
                url: "{% url 'servicios_app:ajaxAgregarFavoritos' %}",
                type: 'post',
                data: {"id_restaurante": id_restaurante},
                beforeSend: function (xhr) {

                },
                success: function (data) {
                    alert("Restaurante Agregado a Favoritos")
                },
                error: function (xhr, errmsg, err) {
                    alert("No puedes tener 2 veces el mismo restaurante en favoritos")
                }
            });
        }
        function ajaxAgregarFavoritos2(id_platillo) {
            $.ajax({
                url: "{% url 'servicios_app:ajaxAgregarFavoritos2' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function (xhr) {

                },
                success: function (data) {
                    alert("Platillo Agregado a Favoritos")
                },
                error: function (xhr, errmsg, err) {
                    alert("No puedes tener 2 veces el mismo Platillo en favoritos")
                }
            });
        }
    </script>
{% endblock %}