{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %}
    Restaurante | Deli&Go
{% endblock %}
<!--todo: inicia block de estilos-->
{% block styles %}


{% endblock %}
<!--todo: inicia block de contenido-->
{% block content %}

    <div class="container">
        <div class="row row-centered section">
            {% for restaurante in restaurantes %}
                <div class="col-md-2 col-centered text-center">
                    <a href="{% url 'servicios_app:perfilRestaurante' restaurante.slug %}">
                        <div id="imagen-restaurante{{ restaurante.id }}" class="inline border">
                            <style>
                                #imagen-restaurante{{ restaurante.id }} {
                                    height: 3em;
                                    width: 3em;
                                    background: url({{ restaurante.urlImagen }});
                                    background-position: center center;
                                    background-size: cover;
                                    border-radius: 50%;
                                    position: relative;
                                    content: '';
                                }
                            </style>
                        </div>
                        <h5>
                            <b>{{ restaurante.contacto.nombre_restaurante }}</b>
                        </h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
<!--todo: inicia block java script-->
{% block scripts %}


{% endblock %}