{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %}
    Restaurante | Deli&Go
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/file/fileinput.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/responsive-tabs/bootstrap-responsive-tabs.css' %}">
    <link rel="stylesheet" href="{% static 'base/js/pickadate/themes/default.css' %}">
    <link rel="stylesheet" href="{% static 'base/js/pickadate/themes/default.time.css' %}">
    <style>
        .table {
            display: table;
            width: 100%;
        }

        .cell {
            display: table-cell;
            float: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row row-centered section">
            <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 col-centered">
                <h4>Perfil de
                    <a href="{% url 'usuarios_app:detalleRestaurante' restaurante.slug %}" class="text-primary">
                        {{ restaurante.contacto.nombre_restaurante }}
                    </a>
                </h4>
                <div class="tabs-container card">
                    <ul class="nav nav-tabs responsive-tabs responsive">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-pedido" onclick="activo('#tab-pedido')">
                                Pedidos
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab-estado_cuenta" onclick="activo('#tab-estado_cuenta')">
                                Cuentas
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab-perfil" onclick="activo('#tab-perfil')">
                                Perfil
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab-menu" onclick="activo('#tab-menu')">
                                Menú
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content responsive">
                        <div id="tab-estado_cuenta" class="tab-pane">
                            <div class="panel-body">
                                <h4>Estado de cuenta</h4>
                                {% if restaurante.cuenta_bancaria %}
                                    <table class="table">
                                        <tr>
                                            <td>
                                                # semana
                                            </td>
                                            <td>
                                                fecha Inicio
                                            </td>
                                            <td>
                                                fecha Fin
                                            </td>
                                            <td>
                                                cantidad
                                            </td>
                                            <td>
                                                compras
                                            </td>
                                            <td>
                                                comision
                                            </td>
                                            <td>
                                                deposito
                                            </td>
                                        </tr>
                                        {% for semana in semanas %}
                                            <tr onclick='ajaxObtenerExpecificacionSemana("{{ semana.fecha1 }}","{{ semana.fecha2 }}","{{ semana.id }}")'>
                                                <td>
                                                    {{ semana.id }}
                                                </td>
                                                <td>
                                                    {{ semana.fecha_inicio }}
                                                </td>
                                                <td>
                                                    {{ semana.fecha_fin }}
                                                </td>
                                                <td>
                                                    {{ semana.cantidad }}
                                                </td>
                                                <td>
                                                    {{ semana.suma }}
                                                </td>
                                                <td>
                                                    {{ semana.porcentaje }}
                                                </td>
                                                <td>
                                                    {{ semana.deposito }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    <div id="datosSemana">

                                    </div>
                                {% else %}
                                    <p>Necesitamos la cuenta de banco a cual depositarte tus ganancias</p>
                                    <form method="post">
                                        {% csrf_token %}
                                        {% for field in form_Banco %}
                                            <div class="form-group">
                                                {{ field.label_tag }} {{ field }}
                                            </div>
                                        {% endfor %}
                                        <button type="submit" class="btn btn-primary btn-lg right">
                                            Guardar cuenta
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>

                        <div id="tab-pedido" class="tab-pane active">
                            <div class="panel-body">
                                <h4>Control de actividades</h4>
                                {% if not pedidos %}
                                    <p>
                                        Estamos buscando clientes para ti, muy pronto recibirás pedidos.
                                    </p>
                                {% else %}
                                    {% for pedido in pedidos %}
                                        <h4>
                                            Datos del pedido:{{ pedido.direccion }}
                                            <br>
                                            Estado del pedido: {{ pedido.estado }}
                                            <br>
                                            Monto Total: {{ pedido.monto_total }}
                                            <br>
                                            Fecha: {{ pedido.fecha }}
                                        </h4>
                                        <h5>
                                            platillos:
                                            <ul>
                                                {% for platillo in pedido.platillo.all %}
                                                    <li>
                                                        {{ platillo }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </h5>
                                        {% if pedido.estado != "cancelado" and pedido.estado != "entregado" %}
                                            <form action="{% url 'servicios_app:cancelarPedido' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id_pedido" value="{{ pedido.id }}">
                                                <input type="hidden" name="slug" value="{{ restaurante.slug }}">
                                                <button type="submit">
                                                    Cancelar Pedido
                                                </button>
                                            </form>
                                            <form action="{% url 'servicios_app:actualizarPedido' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id_pedido" value="{{ pedido.id }}">
                                                <input type="hidden" name="slug" value="{{ restaurante.slug }}">
                                                <button type="submit" class="btn btn-success btn-lg">
                                                    Actualizar Pedido
                                                </button>
                                            </form>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div id="tab-perfil" class="tab-pane">
                            <div class="panel-body">
                                <h4>Datos del Restaurante</h4>
                                <div class="info-restaurante table">
                                    <div class="cell" style="padding: 3em;">
                                        <div class="imagen-restaurante border">
                                            <style>
                                                .imagen-restaurante {
                                                    background: url({{ restaurante.urlImagen }});
                                                    background-size: cover;
                                                    background-position: center center;
                                                    width: 150px;
                                                    height: 150px;
                                                    border-radius: 50%;
                                                    display: list-item;
                                                    margin: 0 auto;
                                                }
                                            </style>
                                        </div>
                                        <span class="btn btn-link btn-lg no-shadow btn-block m-t-md" data-toggle="modal"
                                              data-target="#modal_ImgRestaurante">
                                            <i class="material-icons">crop_original</i>&nbsp;Cambiar Imagen
                                        </span>
                                        <span class="btn btn-primary btn-lg btn-block m-t-md" data-toggle="modal"
                                              data-target="#modal_restauranteUpdate">
                                            <i class="material-icons">mode_edit</i>&nbsp;Modificar datos
                                        </span>
                                    </div>
                                    <div class="datos-restaurante cell">
                                        <p>Nombre del restaurante: {{ restaurante.contacto.nombre_restaurante }}</p>
                                        <p>Responsable: {{ restaurante.contacto.nombre_responsable }}</p>
                                        <p>Telefono: {{ restaurante.contacto.telefono }}</p>
                                        <p>Email: {{ restaurante.contacto.email }}</p>
                                        <p>Direccion: {{ restaurante.contacto.nombre_direccion }}</p>
                                        <hr>
                                        <p>Compra minima: ${{ restaurante.compra_minima|floatformat:'2' }}</p>
                                        <p>Costo Envio: ${{ restaurante.costo_envio|floatformat:'2' }}</p>
                                        <p>Horario
                                            Servicio:{{ restaurante.hora_abre|time:"h:i A" }}-{{ restaurante.hora_cierra|time:"h:i A" }}</p>
                                    </div>
                                </div>
                                <div class="modal inmodal " id="modal_restauranteUpdate" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                                                    <span class="sr-only">
                                                    Close
                                                </span>
                                                </button>
                                                <h4 class="modal-title">
                                                    Actualiza tu restaurante
                                                </h4>
                                            </div>

                                            <form method="POST" enctype="multipart/form-data" id="form_restaurante">
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    {% for field in form_restaurante %}
                                                        <div class="form-group">
                                                            {{ field.label_tag }} {{ field }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-link btn-lg"
                                                            data-dismiss="modal">
                                                        Cancelar
                                                    </button>
                                                    <button type="submit" class="btn btn-primary btn-lg">
                                                        Guardar cambios
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal " id="modal_ImgRestaurante" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                                                    <span class="sr-only">
                                                    Close
                                                </span>
                                                </button>
                                                <h4 class="modal-title">
                                                    Actualiza tu restaurante
                                                </h4>
                                            </div>

                                            <form method="POST" enctype="multipart/form-data" id="form_imgRestaurante">
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    {% for field in form_imgRestaurante %}
                                                        {% if field.label == "slug" %}
                                                            {{ field }}
                                                        {% else %}
                                                            {{ field.label_tag }} {{ field }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-link btn-lg"
                                                            data-dismiss="modal">
                                                        Cancelar
                                                    </button>
                                                    <button type="submit" class="btn btn-primary btn-lg">
                                                        Guardar imagen
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab-menu" class="tab-pane">
                            <div class="panel-body">
                                <h4>Menu Disponible</h4>
                                {% if platillos %}
                                    <table class="table">
                                        <tr>
                                            <th>
                                                Platillos
                                            </th>
                                            <th>
                                                Modificar datos
                                            </th>
                                        </tr>
                                        {% for platillo in platillos %}
                                            <tr>
                                                <td>{{ platillo }}</td>
                                                <td>
                                                    <span class="btn btn-link no-shadow" data-toggle="modal"
                                                          data-target="#modal_editarPlatillo{{ forloop.counter }}">
                                                        <i class="ion-edit"></i>&nbsp;&nbsp;Editar
                                                    </span>
                                                    <span class="btn btn-link no-shadow" data-toggle="modal"
                                                          data-target="#modal_imagenPlatillo{{ forloop.counter }}">
                                                        <i class="ion-image"></i>&nbsp;&nbsp;Cambiar imagen
                                                    </span>
                                                    <div class="modal inmodal "
                                                         id="modal_editarPlatillo{{ forloop.counter }}"
                                                         tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal">
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                                                                        <span class="sr-only">
                                                    Close
                                                </span>
                                                                    </button>
                                                                    <h4 class="modal-title">
                                                                        Edita tu platillo
                                                                    </h4>
                                                                </div>
                                                                <form method="POST" enctype="multipart/form-data"
                                                                      id="form_platillo{{ forloop.counter1 }}"
                                                                      action="{% url 'servicios_app:actualizarPlatillo' %}">
                                                                    <div class="modal-body">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="slug"
                                                                               value="{{ slug }}">
                                                                        <input type="hidden" name="id"
                                                                               value="{{ platillo.id }}">
                                                                        {% for field in platillo.formUpdateInfo %}
                                                                            <div class="form-group">
                                                                                {{ field.label_tag }} {{ field }}
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <span class="btn btn-link btn-lg no-shadow"
                                                                              data-dismiss="modal">
                                                                            Cancelar
                                                                        </span>
                                                                        <button type="submit"
                                                                                class="btn btn-success btn-lg">
                                                                            Guardar
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal inmodal "
                                                         id="modal_imagenPlatillo{{ forloop.counter }}"
                                                         tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal">
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                                                                        <span class="sr-only">
                                                    Close
                                                </span>
                                                                    </button>
                                                                    <h4 class="modal-title">
                                                                        Edita tu platillo
                                                                    </h4>
                                                                </div>
                                                                <form method="POST" enctype="multipart/form-data"
                                                                      id="form_platillo{{ forloop.counter1 }}">
                                                                    <div class="modal-body">
                                                                        {% csrf_token %}
                                                                        {% for field in platillo.formUpdateImg %}
                                                                            <div class="form-group">
                                                                                {{ field.label_tag }} {{ field }}
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <span class="btn btn-link btn-lg no-shadow"
                                                                              data-dismiss="modal">
                                                                            Cancelar
                                                                        </span>
                                                                        <button type="submit"
                                                                                class="btn btn-success btn-lg">
                                                                            Guardar
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <h4>Aun no tienes platillos</h4>
                                {% endif %}

                                <span class="btn btn-primary btn-lg" data-toggle="modal"
                                      data-target="#modal_addPlatillo">
                                    <i class="ion-android-add"></i> Agregar Platillo
                                </span>
                                <div class="modal inmodal " id="modal_addPlatillo" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                                                    <span class="sr-only">
                                                    Close
                                                </span>
                                                </button>
                                                <h4 class="modal-title">
                                                    Agrega un nuevo platillo
                                                </h4>
                                            </div>
                                            <form method="POST" enctype="multipart/form-data" id="form_platillo">
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    {% for field in form_platillo %}
                                                        <div class="form-group">
                                                            {{ field.label_tag }} {{ field }}
                                                        </div>
                                                    {% endfor %}
                                                    {% comment %}
                                                {% for field in form2_platillo %}
                                                    {{ field.label_tag }} {{ field }}
                                                    <br>
                                                {% endfor %}
                                                {% endcomment %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-link btn-lg no-shadow"
                                                            data-dismiss="modal">
                                                        Cancelar
                                                    </button>
                                                    <button type="submit" class="btn btn-success btn-lg"
                                                            id="submit_platillo">
                                                        Guardar
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'base/js/file/purify.min.js' %}"></script>
    <script src="{% static 'base/js/file/fileinput.min.js' %}"></script>
    <script src="{% static 'base/js/file/theme.js' %}"></script>
    <script src="{% static 'base/js/file/es.js' %}"></script>

    <script src="{% static 'base/js/responsive-tabs/bootstrap-responsive-tabs.min.js' %}"></script>
    <script src="{% static 'base/js/responsive-tabs/responsive-tabs.js' %}"></script>

    <script src="{% static 'base/js/pickadate/picker.js' %}"></script>
    <script src="{% static 'base/js/pickadate/picker.time.js' %}"></script>
    <script src="{% static 'base/js/pickadate/translations/es_ES.js' %}"></script>

    <script>

        (function ($) {
            // https://openam.github.io/bootstrap-responsive-tabs/
            // fakewaffle.responsiveTabs(['xs', 'sm']);

            $('form#form_platillo').validate({
                rules: {
                    nombre: {
                        required: true
                    },
                    descripcion: {
                        required: true,
                        maxlength: 240
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        })(jQuery);

        $('.responsive-tabs').responsiveTabs({
            // https://github.com/vtimbuc/bootstrap-responsive-tabs
            accordionOn: ['xs', 'sm'] // xs, sm, md, lg
        });

        $(function () {
            $('input:not([type="radio"]), select, textarea').addClass('form-control');
            $('label').addClass('control-label');
        });

        $('.file').fileinput({
            theme: "fa",
            language: "es",
            showUpload: false
        });

        $('.timepicker').pickatime({
            formatSubmit: 'HH:i',
            hiddenName: true
        });

        function activo(seleccionado) {
            $('#tab-estado_cuenta').removeClass("active");
            $('#tab-menu').removeClass("active");
            $('#tab-pedido').removeClass("active");
            $('#tab-perfil').removeClass("active");
            $(seleccionado).addClass("active");
        }
        function ajaxObtenerExpecificacionSemana(inicio, fin) {
            console.log(inicio);
            console.log(fin);
            $.ajax({
                url: "{% url 'servicios_app:ajaxObtenerExpecificacionSemana' %}",
                type: 'post',
                data: {
                    "inicio": inicio,
                    "fin": fin,
                    "id":{{ restaurante.id }},
                },
                beforeSend: function (xhr) {
                    document.getElementById("datosSemana").innerHTML = "";
                },
                success: function (data) {
                    if (data.length == 0) {
                        datos = "<h1>Sin datos disponibles</h1>";
                    } else {
                        datos = "<table border=1> <tr><td>ID</td><td>Tipo </td><td>Fecha </td><td>Direccion </td><td>Monto </td><td>Comision </td><td>Deposito </td></tr>";
                        for (i = 0; i < data.length; i++) {
                            console.log(data[i]);
                            id = data[i].id;
                            nombre = data[i].tipo;
                            cantidad = data[i].fecha;
                            ventas = data[i].direccion;
                            comision = data[i].monto;
                            multas = data[i].comision;
                            deposito = data[i].deposito;
                            datos += "<tr ><td>" + id + "</td><td>" + nombre + "</td><td>" + cantidad + "</td><td>" + ventas + "</td><td>" + comision + "</td><td>" + multas + "</td><td>" + deposito + "</td></tr>";
                        }
                        datos += "</table>";
                        console.log(datos);
                    }
                    document.getElementById("datosSemana").innerHTML = datos
                },
                error: function (xhr, errmsg, err) {
                    console.log("algo salio mal")
                }
            });
        }

    </script>
    {% comment %}
    <script>
        setTimeout('document.location.reload()', 10000);
    </script>
    {% endcomment %}
{% endblock %}