{% extends 'base/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Elige tus platillos | Deli&Go
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row section">
            {% for platillo in platillos %}
                <div class="col-lg-4">
                    {% include 'base/base_platillo_card.html' %}
                </div>
                {% comment %}
                <div class="col-lg-3">
                    <form action="{% url 'servicios_app:detallePlatillo' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id_platillo" value="{{ platillo.id }}">
                        <input type="image" src="{{ platillo.imagen.url }}" height="250" width="250">
                    </form>
                </div>

                {% if forloop.counter|divisibleby:2 %}
                    </div>
                    <div class="row">
                {% endif %}
                {% endcomment %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function ajaxAgregarPlatillo(id_platillo) {
            console.log(id_platillo);
            $.ajax({
                url: "{% url 'servicios_app:ajaxAgregarPlatillo' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function (xhr) {

                },
                success: function (data) {
                    detar
                },
                error: function (xhr, errmsg, err) {
                    alert("no se pudo agregar el platillo")
                }
            });
        }
    </script>
{% endblock %}