{% load staticfiles %}
{% load humanize %}
{% load replacePunto %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-STORE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-STORE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    {% include 'base/favicons.html' %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">


    <script src="//maps.google.com/maps/api/js?key=AIzaSyC6UBtxDBeoxSoenu2vBIpgjcuRSk-O29Q"></script>
    <script src="{% static 'base/js/jquery.min.js' %}"></script>
    <script src="{% static 'base/js/jquery.mask.js' %}"></script>
    <script src="{% static 'base/js/jquery.validate.js' %}"></script>
    <script src="{% static 'base/js/localization/messages_es.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/spaces/spaces.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/spaces/spaces.bootstrap.min.css' %}">

    {% block styles %}

    {% endblock %}

</head>
<body>
<nav class="navbar navbar-default shadow">
    <div class="container-fluid">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{% url 'pagos_app:VerCarrito' %}" class="navbar-icon visible-xs right mt--xxs mr-xs"
               style="top: -4px; position: relative;">
                <i class="ion-bag"></i>
                <span class="badge ml--xs mt-xs hidden" style="background-color: #e91e63;">
                    {% total_carrito %}
                </span>
            </a>
            <a href="{% url "servicios_app:buscador2" %}" class="navbar-icon visible-xs right mt--xxs mr-s">
                <i class="ion-ios-search-strong" style="font-size: 1.8em !important;
                    position: relative;
                    top: -10px;"></i>
            </a>

            <a class="navbar-brand font-300" href="{% url "index" %}">
                <img src="https://image.flaticon.com/icons/png/512/172/172674.png" alt="logo"
                     style="height: 1em;
                    display: inline-block;
                    top: -2px;
                    position: relative;">
                Deli&Go
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav" style="z-index: 1; position: relative;">
                <li>
                    <a href="{% url "servicios_app:buscador2" %}" class="hidden-xs">
                        Ordenar
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="z-index: 1; position: relative;">
                <li>
                    <a href="{% url 'pagos_app:VerCarrito' %}" class="navbar-icon hidden-xs">
                        <i class="ion-bag"></i>
                        <span class="badge ml--xs mt-xs hidden" style="background-color: #e91e63;">
                            {% total_carrito %}
                        </span>
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <div class="avatar-usuario img-responsive">
                                <style>
                                    .avatar-usuario {
                                        background: url({{ user.urlImagen }});
                                        background-size: cover;
                                        background-position: center center;
                                        border-radius: 50%;
                                        height: 2em;
                                        width: 2em;
                                        float: left;
                                        top: -5px;
                                        position: relative;
                                        margin-right: 10px;
                                    }
                                </style>
                            </div>
                            &nbsp;<i class="ion-ios-arrow-down" style="top: 1px; position: relative;"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:void(0);" class="mt-xxxs">¡Hola {{ user.get_short_name }}!</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'usuarios_app:Perfil' %}">Mi perfil</a>
                            </li>
                            {% if user.is_restaurante %}
                                <li>
                                    <a href="{% url 'servicios_app:verRestaurantes' %}">Mis Restaurantes</a>
                                </li>
                            {% endif %}
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'usuarios_app:LogOut' %}">Salir</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'usuarios_app:LogIn' %}">Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-center hidden-xs">
                <li>
                    <a class="navbar-brand font-300" href="{% url "index" %}" style="width: 10em; margin: 0 auto;">
                        <img src="https://image.flaticon.com/icons/png/512/172/172674.png" alt="logo"
                             style="height: 1em;
                    display: inline-block;
                    top: -2px;
                    position: relative;">
                        Deli&Go
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-agregar-carrito">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            Se ha agregado al pedido
        </div>
    </div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/cd941bc190.js"></script>
<script src="{% static 'base/js/base.js' %}"></script>
<script src="{% static 'base/js/bootstrap-notify.min.js' %}"></script>
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
    window.$zopim || (function (d, s) {
        var z = $zopim = function (c) {
            z._.push(c)
        }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0];
        z.set = function (o) {
            z.set._.push(o)
        };
        z._ = [];
        z.set._ = [];
        $.async = !0;
        $.setAttribute("charset", "utf-8");
        $.src = "//v2.zopim.com/?4J4qwlMpOrvaeZLcMFBMO4T1xyDtHH84";
        z.t = +new Date;
        $.type = "text/javascript";
        e.parentNode.insertBefore($, e)
    })(document, "script");
    {% if user.is_authenticated %}
        $zopim(function () {
            $zopim.livechat.setName('{{ user.get_full_name }}');
            $zopim.livechat.setEmail('{{ user.email }}');
        });
    {% endif %}
</script>
<!--End of Zopim Live Chat Script-->
{% block scripts %}

{% endblock %}
</body>
</html>