{% load static from staticfiles %}
{% load humanize %}

<style>

    .info-platillo {
        padding: 10px;
    }

    .info-platillo p {
        margin-bottom: 0;
    }

    .btn-add {
        line-height: 0;
        padding: 2px 15px;
        border: 1px solid #E0e0e0;
        color: #e91e63;
    }

    .btn-add i {
        font-size: 1.2em !important;
        color: #e91e63;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        display: inline-block;
    }

    .btn-add:hover i {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        display: inline-block;
        color: #fff !important;
    }

    .btn-add:hover {
        background: #e91e63;
        border-color: #e91e63;
        color: #fff !important;
    }
</style>
<div class="p-0 div-platillo mb-s">
    <a href="{% url 'servicios_app:detallePlatillo' platillo.restaurante.slug platillo.slug %}">
        <div class="imagen-platillo border" id="imagen-platillo{{ platillo.id }}">
            <style>
                #imagen-platillo{{ platillo.id }} {
                    background: url({{ platillo.imagen.url }}) center center;
                    background-size: cover;
                    padding-bottom: 62.5%;
                }
            </style>
        </div>
    </a>
    <div class="info-platillo">
        <a href="{% url 'servicios_app:detallePlatillo' platillo.restaurante.slug platillo.slug %}">
            <h5 class="m-0 truncate">{{ platillo.nombre }}</h5>
        </a>
        <div class="row mt-xxxs">
            <div class="col-xs-6">
                <p class="text-primary font-600 left mt-xxxs">
                    <i class="ion-social-usd"></i>&nbsp;{{ platillo.precio|floatformat:'2' }}
                </p>
            </div>
            <div class="col-xs-6">
                <span class="no-shadow right pointer mt-xxxs btn-add animate"
                      onclick="ajaxAgregarPlatillo({{ platillo.id|floatformat:'0' }})">
                    <i class="ion-android-add"></i>
                </span>
            </div>
        </div>
    </div>
</div>