{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
    super super usuario super
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <h1>Ventas</h1>
            <table border="1">
                <tr>
                    <td>
                        # semana
                    </td>
                    <td>
                        fecha Inicio
                    </td>
                    <td>
                        fecha Fin
                    </td>
                    <td>
                        cantidad
                    </td>
                    <td>
                        compras
                    </td>
                    <td>
                        comision
                    </td>
                    <td>
                        deposito
                    </td>
                </tr>
                {% for semana in semanas %}
                    <tr onclick='ajaxObtenerSemana("{{ semana.fecha1 }}","{{ semana.fecha2 }}","{{ semana.id }}")'>
                        <td>
                            {{ semana.id }}
                        </td>
                        <td>
                            {{ semana.fecha_inicio }}
                        </td>
                        <td>
                            {{ semana.fecha_fin }}
                        </td>
                        <td>
                            {{ semana.cantidad }}
                        </td>
                        <td>
                            {{ semana.suma }}
                        </td>
                        <td>
                            {{ semana.porcentaje }}
                        </td>
                        <td>
                            {{ semana.deposito }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-lg-6">
            <h1>Facturas</h1>
            <table border="1">
                <tr>
                    <td># semana</td>
                    <td>Fecha Incio</td>
                    <td>Fecha Fin</td>
                </tr>
                {% for semana in semanas %}
                    <tr onclick='ajaxObtenerSemanaFacturas("{{ semana.fecha1 }}","{{ semana.fecha2 }}","{{ semana.id }}")'>
                        <td>
                            {{ semana.id }}
                        </td>
                        <td>
                            {{ semana.fecha_inicio }}
                        </td>
                        <td>
                            {{ semana.fecha_fin }}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

    <div class="row">
        <div id="datosRestaurantes" class="col-lg-6">

        </div>
        <div id="datosFacturas" class="col-lg-6">

        </div>
    </div>
    <div class="row">
        <div id="datosSemana" class="col-lg-6">
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script>
        function ajaxObtenerSemana(inicio, fin, id) {
            console.log(inicio);
            console.log(fin);
            $.ajax({
                url: "{% url 'servicios_app:ajaxObtenerSemana' %}",
                type: 'post',
                data: {
                    "inicio": inicio,
                    "fin": fin
                },
                beforeSend: function (xhr) {
                    document.getElementById("datosSemana").innerHTML = "";
                    document.getElementById("datosRestaurantes").innerHTML = "";
                },
                success: function (data) {
                    datos = "<h4>Resultados de los restaurantes de la semana " + id + "</h4>" +
                        "<table border=1> <tr><td>ID</td><td>Nombre </td><td>Cantidad </td><td>Ventas </td><td>Comision </td><td>Multas </td><td>Deposito </td><td>Cuenta</td><td>Banco</td></tr>";
                    for (i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        id = data[i].id;
                        nombre = data[i].nombre;
                        cantidad = data[i].cantidad;
                        ventas = data[i].ventas;
                        comision = data[i].comision;
                        multas = data[i].multas;
                        deposito = data[i].depositos;
                        numero = data[i].cuenta;
                        banco = data[i].banco;
                        datos += "<tr onclick='ajaxObtenerExpecificacionSemana(\"" + inicio + "\",\"" + fin + "\"," + id + ",\"" + nombre + "\")'>" +
                            "<td>" + id + "</td><td>" + nombre + "</td><td>" + cantidad + "</td><td>" + ventas + "</td><td>" + comision + "</td><td>" + multas + "</td><td>" + deposito + "</td><td>" + numero + "</td><td>" + banco + "</td></tr>";
                    }
                    datos += "</table>";
                    console.log(datos);
                    document.getElementById("datosRestaurantes").innerHTML = datos
                },
                error: function (xhr, errmsg, err) {
                }
            });
        }
        function ajaxObtenerSemanaFacturas(inicio, fin, id) {
            console.log(inicio);
            console.log(fin);
            $.ajax({
                url: "{% url 'servicios_app:ajaxObtenerSemanaFacturas' %}",
                type: 'post',
                data: {
                    "inicio": inicio,
                    "fin": fin
                },
                beforeSend: function (xhr) {
                    document.getElementById("datosFacturas").innerHTML = "";
                },
                success: function (data) {
                    datos = "<h4>Facturas de la semana " + id + "</h4>" +
                        "<table border=1> <tr><td>ID</td><td>Restaurante </td><td>Fecha </td><td>URL </td></tr>";
                    for (i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        id = data[i].id;
                        restaurante = data[i].restaurante;
                        fecha = data[i].fecha;
                        url = data[i].url;
                        datos += "<tr><td>" + id + "</td><td>" + restaurante + "</td><td>" + fecha + "</td><td> <a href='" + url + "'>Ver factura</a></td></tr>";
                    }
                    datos += "</table>";
                    console.log(datos);
                    document.getElementById("datosFacturas").innerHTML = datos
                },
                error: function (xhr, errmsg, err) {
                }
            });
        }
        function ajaxObtenerExpecificacionSemana(inicio, fin, id, nombre) {
            console.log(inicio);
            console.log(fin);
            $.ajax({
                url: "{% url 'servicios_app:ajaxObtenerExpecificacionSemana' %}",
                type: 'post',
                data: {
                    "inicio": inicio,
                    "fin": fin,
                    "id": id
                },
                beforeSend: function (xhr) {
                    document.getElementById("datosSemana").innerHTML = "";
                },
                success: function (data) {
                    datos = "<h5>Resultado del restaurante : " + nombre + "</h5>" +
                        "<table border=1> <tr><td>ID</td><td>Tipo </td><td>Fecha </td><td>Direccion </td><td>Monto </td><td>Comision </td><td>Deposito </td></tr>";
                    for (i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        id = data[i].id;
                        nombre = data[i].tipo;
                        cantidad = data[i].fecha;
                        ventas = data[i].direccion;
                        comision = data[i].monto;
                        multas = data[i].comision;
                        deposito = data[i].deposito;
                        datos += "<tr ><td>" + id + "</td><td>" + nombre + "</td><td>" + cantidad + "</td><td>" + ventas + "</td><td>" + comision + "</td><td>" + multas + "</td><td>" + deposito + "</td></tr>";
                    }
                    datos += "</table>";
                    console.log(datos);
                    document.getElementById("datosSemana").innerHTML = datos
                },
                error: function (xhr, errmsg, err) {
                }
            });
        }
    </script>
{% endblock %}