{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
{% endblock %}
{% block content %}
    {% for titulos1, info1 in datos.items %}
        {% with forloop.counter as contador1 %}
            <div id="padre_{{ contador1 }}">
                {% for titulos2, info2 in info1.items %}
                    <div id="{{ titulos2 }}_{{ contador1 }}">
                        {% if titulos2 == "titulo" %}
                            {{ info2 }}
                        {% else %}
                            {% for historial in info2 %}
                                {% with forloop.counter as contador3 %}
                                    <div id="subhistorial_{{ contador1 }}_{{ contador3 }}">
                                        {% for titulos3, info3 in historial.items %}
                                            {% with forloop.counter as contador3 %}
                                                {% if titulos3 == "pedidos" %}
                                                    <div id="pedidos_{{ contador1 }}_{{ contador3 }}_{{ contador3 }}">
                                                        {% for movimientos in info3 %}
                                                            {% with forloop.counter as contador4 %}
                                                                <div id="movimiento_{{ contador1 }}_{{ contador3 }}_{{ contador3 }}_{{ contador4 }}">
                                                                    {% for leyenda, valor in movimientos.items %}
                                                                        {% with forloop.counter as contador5 %}
                                                                            <span id="{{ contador1 }}_{{ contador3 }}_{{ contador3 }}_{{ contador4 }}_{{ contador5 }}">
                                                                            {{ leyenda }}-{{ valor }}
                                                                        </span>
                                                                            <br>
                                                                        {% endwith %}
                                                                    {% endfor %}
                                                                </div>
                                                                <br>
                                                            {% endwith %}
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    <div id="datos{{ titulos3 }}_{{ contador1 }}_{{ contador3 }}_{{ contador3 }}">
                                                        {{ titulos3 }}:{{ info3 }}
                                                    </div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                {% endwith %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <br>
                {% endfor %}
            </div>
        {% endwith %}
    {% endfor %}

{% endblock %}
{% block scripts %}
{% endblock %}