{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    superUsuarios
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-4">
                    Restaurante
                </div>
                <div class="col-lg-2">
                    Deposito
                </div>
                <div class="col-lg-1">
                    Pedidos
                </div>
                <div class="col-lg-2">
                    Multas
                </div>
                <div class="col-lg-3">
                    Cuenta
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for restaurante in restaurantes %}
            <fieldset class="majorspoints">
                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-lg-5">
                            &nbsp;&nbsp;{{ restaurante.get_name }}
                        </div>
                        <div class="col-lg-1">

                            &nbsp;&nbsp;{{ restaurante.montoPedidos }}
                        </div>
                        <div class="col-lg-1">
                            &nbsp;&nbsp;{{ restaurante.movimientos|length }}
                        </div>
                        <div class="col-lg-1">
                            &nbsp;&nbsp;{{ restaurante.multas }}
                        </div>
                        <div class="col-lg-4">
                            &nbsp;&nbsp;{{ restaurante.cuenta }}
                        </div>
                    </div>
                    <div class="hiders" style="display: none" id="{{ forloop.counter }}">
                        <div class="row">

                            {% if restaurante.movimientos|length == 0 %}
                                <div class="col-lg-12">
                                    <h3>
                                        &nbsp;&nbsp;Sin ventas este mes u.u
                                    </h3>
                                </div>
                            {% else %}
                                <div class="col-lg-12">
                                    <table>
                                        <tr>
                                            <td>Fecha</td>
                                            <td>Tipo</td>
                                            <td>Descripcion</td>
                                            <td>Monto</td>
                                            <td>Comision</td>
                                            <td>Total</td>
                                        </tr>
                                        {% for movimiento in restaurante.movimientos %}
                                            <tr>
                                                <td>
                                                    {{ movimiento.fecha|date }}
                                                </td>
                                                <td>
                                                    &nbsp;&nbsp;{{ movimiento.tipo }}
                                                </td>
                                                <td>
                                                    &nbsp;&nbsp;{{ movimiento.pedido.direccion|truncatechars:"40" }}
                                                </td>
                                                <td>
                                                    &nbsp;&nbsp;{{ movimiento.monto }}
                                                </td>
                                                <td>
                                                    &nbsp;&nbsp;{{ movimiento.comision }}
                                                </td>
                                                <td>
                                                    &nbsp;&nbsp;{{ movimiento.balanze|floatformat:2 }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $('.majorspoints').click(function () {
            $(this).find('.hiders').toggle();
        })

    </script>
{% endblock %}
