{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="row section">
            <div class="col-xs-12 text-justify">
                <h4 class="text-danger"><b>AVISO LEGAL IMPORTANTE</b></h4>
                Este apartado engloba los términos, condiciones y políticas de privacidad ("Condiciones de uso")
                presentes en los servicios brindados y acreditados por Claudia Yolanda González Vargas ("Deli&Go") a
                través de la página web www.deliandgo.com (en lo sucesivo “Web” o “Plataforma web”). Se le solicita lea
                atentamente estas Condiciones de uso antes de formalizar alguna actividad en nuestra página; si Ud. no
                aprueba dichas cláusulas deberá abandonar la Web inmediatamente, renunciando a los beneficios otorgados
                por la misma, en caso contrario queda entendido su consentimiento.
                <br>
                Nos reservamos el derecho a modificar las presentes Condiciones de uso, dando como estipulada la última
                actualización el día 01 de enero del 2017; le recomendamos mantener una copia de estos apartados para
                futuras referencias. Por favor tenga en cuenta que cualquier mención al término “Web” mostrado en este
                acuerdo incluye cualquier versión actual o futura de la plataforma digital www.deliandgo.com.
                <br>
                Permanece restringida la reproducción, almacenaje y extracción de alguna parte de esta Plataforma web en
                otro sitio digital o medio tradicional, de igual manera queda prohibido la inclusión de algún sistema,
                servicio electrónico de recuperación, público o privado, sin permiso escrito previo.
                <br>
                <h4 class="text-danger"><b>I.TÉRMINOS Y CONDICIONES</b></h4>
                <h5 class="text-danger">INTRODUCCIÓN</h5>
                Somos una plataforma digital que ofrece un servicio mediante el cual Ud. podrá realizar pedidos de
                comida ("Pedidos"), con base en sus necesidades alimenticias, a los restaurantes ("Restaurantes")
                afiliados a nuestro sistema y especializados en la venta de comida a domicilio o entrega en
                establecimiento.
                <br>
                Las áreas de esta Plataforma web están abiertas a todo el mundo, se podrán visitar y acceder sin
                necesidad de concluir un pedido y/o registrar sus datos. Al efectuar operaciones dentro de la Web, como
                facilitar Datos Personales y generar Pedidos, usted garantiza que:
                Tiene la capacidad legal necesaria para celebrar contratos vinculantes; y
                Cumple con la mayoría de edad estipulada por el país de residencia.
                <br>
                <h5 class="text-danger">PEDIDOS</h5>
                1.1. Realización de un pedido: Para efectuar una compra Ud. deberá poseer una cuenta como usuario de la
                Web. Posteriormente deberá especificar su ubicación y gustos alimenticios, esto con la intención de
                elegir platillos entre las distintas opciones que se muestran; una vez seleccionado el menú del
                restaurante de su preferencia, Ud. deberá pulsar el botón de “Ordenar” y proporcionar la información
                solicitada en los campos vacíos, así como efectuar el pago de la orden. Se le recuerda es importante
                cerciorarse que toda información introducida sea correcta y real; no se podrán corregir errores una vez
                procesada una solicitud.
                <br>
                1.2. Pago no aprobado: Cuando el pago realizado no resulte autorizado, su pedido no será procesado ni
                comunicado al restaurante correspondiente. Ud. será informado de dicha situación y podrá efectuar un
                segundo intento.
                <br>
                1.3. Cancelación y modificación de Pedidos: Ud. pierde derecho a la cancelación o modificación de
                Pedidos, una vez que la Empresa notifica dicha compra y el restaurante en cuestión acepta la orden. En
                caso de algún imprevisto, le sugerimos haga contacto con el restaurante en cuestión o, bien con Atención
                a Clientes de la Web.
                <br>
                1.4. Gestión del pedido y posibles rechazos del restaurante: Al finalizar su petición Deli&Go procesará
                la información y anunciará su solicitud al restaurante, dando libertad al mismo para aceptar o rechazar
                Pedidos; una vez definido el estado de su compra, Ud. será notificado (vía correo electrónico) de dicha
                resolución. Por favor tenga en cuenta que los Restaurantes pueden rechazar pedidos en cualquier momento
                por condiciones laborales, meteorológicas u otro motivo; dando como resultado la devolución íntegra del
                monto cobrado, este será reflejado en la cuenta bancaria ligada a la Tarjeta de Débito o Crédito
                utilizada.
                <br>
                1.5. Entrega de su pedido: Los tiempos de entrega mostrados en la Web son estimaciones proporcionadas
                por los Restaurantes; nosotros y los afiliados no garantizamos los tiempos exactos del servicio. Los
                Restaurantes quedan exentos a la devolución monetaria de Pedidos si Ud. es testigo de la entrega y por
                motivos personales se rehúsa a la misma; el cobro será realizado y entregado al prestador de servicio,
                simbolizado dicha compra como satisfactoria.
                <br>
                1.6 Conclusión del servicio: El servicio finalizará cuando el pedido le haya sido entregado y confirme
                su satisfacción con el servicio mediante calificaciones, comentarios y reseñas de su experiencia (en
                conjunto, "Comentarios") en www.deliandgo.com.
                <br>
                <h5 class="text-danger">PRECIOS Y PAGOS</h5>
                2.1. IVA y gastos de envío: Los precios expuestos por los Restaurantes contienen IVA (Impuesto al Valor
                Agregado) pero excluyen los gastos de envío, estos serán adicionados al importe total adeudado en caso
                de optar por el servicio de entrega a domicilio.
                <br>
                2.2. Fijación de precios incorrecta: Esta Plataforma web contiene un alto número de platillos, por lo
                que es posible que algunos contengan un precio incorrecto. Si el precio correcto de un pedido fuera
                superior al precio mostrado por nuestro sistema, nosotros nos pondremos en contacto con usted antes que
                el mismo sea despachado. En estos casos, ni Deli&Go ni el restaurante en cuestión estará obligado a
                entregar el pedido al precio incorrecto inferior ni a compensarle dicha acción.
                <br>
                2.3. Métodos de pago: El pago de los pedidos a través de la Web deberá realizarse mediante una tarjeta
                de crédito o débito valida. En algunas ocasiones se le podrá pedir que muestre la tarjeta en cuestión,
                al momento de la entrega, como prueba de identificación. Tenga en cuenta que en ocasiones pueden ocurrir
                demoras en las operaciones.
                <br>
                2.4. Pedidos Rechazados: El monto total desembolsado será devuelto en su totalidad, a la cuenta bancaria
                ligada a la Tarjeta de Débito o Crédito utilizada, siempre y cuando los Restaurantes rechacen su orden.
                <br>
                <h5 class="text-danger">ATENCIÓN AL CLIENTE</h5>
                3.1. Servicio al cliente: Para nosotros es primordial su satisfacción, por ende, ponemos a su
                disposición un equipo de Atención al Cliente para solucionar cualquier inconformidad que se pudiera
                presentar. Dicha comunicación puede concretarse seleccionando la opción “Contacto" o llamando al número
                de teléfono que aparece en la Plataforma web.
                <br>
                3.2. Problemas con los Pedidos: Le solicitamos se comunique con nuestro equipo de Atención al Cliente
                (como se describe en el párrafo anterior) para cualquier duda, aclaración o sugerencia referente a
                Pedidos; esto nos da pauta para generar contacto con el restaurante y dar seguimiento a su caso.
                <br>
                3.3. Quejas o sugerencias: Si Ud. no está satisfecho con la calidad de los productos o de los servicios
                dados por un restaurante, le pedimos considere oportuno presentar dicha información en forma de
                Comentarios para manifestar su experiencia.
                <br>
                3.4. Indemnización: Si su pedido no cumple con sus expectativas y desea un reembolso, reducción
                proporcional del precio o cualquier otro tipo de compensación, Ud. deberá ponerse en contacto con el
                restaurante directamente presentando una reclamación y, en su caso, seguir los procedimientos de
                reclamación que disponga el mismo. Si no logra crear un contacto o dicho prestador de servicio se rehúsa
                a atenderle, puede comunicarse a Atención al Cliente para que uno de nuestros asesores solicite una
                indemnización a su favor. Es importante remarcar que no tenemos ningún control sobre los Restaurantes o
                la calidad de los productos y servicios que ofertan, por ende, en Deli&Go no nos hacemos responsables
                por ningún compromiso u obligación perteneciente al restaurante.
                <br>
                <h5 class="text-danger">CONTENIDOS Y CONDUCTA DEL USUARIO</h5>
                4.1. Información adicional: En Deli&Go nos hacemos responsables de toda aquella información personal
                sujeta a las políticas de privacidad con las que contamos, todo contenido que usted introduzca o cuelgue
                en la Plataforma web será considerado como no confidencial y no privado ("Contenido del Usuario"). Usted
                es consiente que no tenemos ningún compromiso respecto a dicho contenido siendo posible el ser copiado,
                revelado, distribuido, incorporado y utilizado de cualquier otra forma, así como los componentes del
                mismo, ya sea para efectos comerciales o no comerciales.
                <br>
                4.2. Políticas del Contenido del Usuario: Queda totalmente prohibido publicar y descargar, en o desde la
                Web, cualquier Contenido del Usuario (incluyendo Comentarios) que:
                <br>
                4.2.1. Incumpla cualquier ley local, nacional o internacional aplicable;<br>
                4.2.2. Sea ilegal o fraudulento;
                <br>
                4.2.3. Suponga publicidad no autorizada; o
                <br>
                4.2.4. Contenga virus o cualesquiera otros programas dañinos.
                <br>
                4.3. Políticas de Comentarios del Usuario: En particular (pero sin limitación) todos las observaciones y
                opiniones que difunda por medio de la Plataforma web no deben:
                <br>
                4.3.1. Incluir ningún contenido difamatorio, obsceno ni ofensivo;
                <br>
                4.3.2. Suscitar violencia, discriminación o actividades ilegales;
                <br>
                4.3.3. Infringir los derechos de propiedad intelectual o industrial de ninguna otra persona;
                <br>
                4.3.4. Dar la impresión de que ha sido creado por nosotros; ni
                <br>
                4.3.5. Utilizarse haciéndose pasar por otra persona o falseando su vinculación con otros.
                <br>
                <br>
                4.4. Modificación de Comentarios: La Empresa se reserva el derecho (sin obligación al menos que la ley
                lo demande) a eliminar o cambiar las opiniones y demás contenidos publicados por los usuarios en la
                Plataforma web, priorizando el contenido cuyas características caigan en las estipulaciones de los
                apartados anteriores.
                <br>
                4.5. Uso del Contenido: Los Comentarios y el Contenido de los Usuarios son para fines informativos,
                estos no establecen asesoramiento alguno de nuestra parte. Las opiniones manifestadas reflejan la
                experiencia previa de los usuarios, cualquier declaración brindada por dichas personas son sólo de
                ellos. En consecuencia, y en la medida que la legislación lo ratifique, no tomamos ningún compromiso
                frente a terceros por dicha información, incluido y sin limitación, cualquier error, difamación,
                obscenidad, omisiones o falsedades que sean incluidos en estos.
                <br>
                <h5 class="text-danger">EXONERACIÓN DE RESPONSABILIDAD</h5>
                5.1. Información de la Web: Deli&Go busca que el contenido proporcionado sea verídico, a pesar de esto,
                no nos comprometemos a que esté actualizado y preciso. Al mismo tiempo somos autónomos de consumar
                cambios, en cualquier momento y sin previo aviso, en el contenido de la Plataforma web, como en los
                servicios y precios descritos.
                <br>
                5.2. Alergias, dietas y otra información de los platillos: Toda la información mostrada en los platillos
                es responsabilidad de los Restaurantes, tales como: nombre, descripción, precio, valor nutrimental,
                ingredientes y beneficios. Ellos deben verificar que esta sea correcta y actualizada, la Empresa no se
                responsabiliza de ello. Si existiera alguna duda sobre advertencias alérgicas, ingredientes de un
                platillo o cualquier otra información del menú, Ud. deberá ratificar con el restaurante directamente
                antes de concluir el pedido, o bien detallar sus requerimientos en la orden.
                <br>
                5.3. Operaciones y descuidos del restaurante: En Deli&Go solamente fungimos como vínculo entre el
                prestador y el solicitante del servicio, no tenemos ningún control sobre las acciones u omisiones de
                ningún restaurante. Mediante el uso de la Web, usted acepta y reconoce, sin carácter restrictivo, que:
                <br>
                5.3.1. No nos responsabilizamos de que los platillos solicitados a Restaurantes, a través de nuestra
                Web, vayan a ser de calidad satisfactoria o adecuada en su opinión.
                <br>
                5.3.2. No damos garantía de los tiempos de entrega, los Restaurantes proporcionan una estimación sin
                asegurar que los Pedidos se efectúen en dicho plazo.
                <br>
                5.3.3. Informamos a los Restaurantes afiliados la importancia de aceptar todos los pedidos, o comunicar
                cualquier rechazo inmediatamente para notificarle a Ud. (vía correo electrónico) a la mayor brevedad
                posible. A pesar de esto, no podemos asegurar que su pedido no sea rechazado en cualquier momento,
                debido a razones laborales de dicho negocio.
                <br>
                <h5 class="text-danger">RESPONSABILIDAD</h5>
                6.1. Exclusión de responsabilidad: Bajo ningún acontecimiento la Empresa responderá, aunque surja de o
                en relación con el servicio de la Plataforma web, por pérdida de:
                <br>
                6.1.1. Beneficios, ventas, negocios o ingresos;
                <br>
                6.1.2. Datos, información o software;
                <br>
                6.1.3. Oportunidades de negocio;
                <br>
                6.1.4. Ahorros anticipados;
                <br>
                6.1.5. Entre otros.
                <br>
                6.2. Limitación de la responsabilidad: En el supuesto caso que Deli&Go realice algún incumplimiento de
                las Condiciones de uso de esta Web o tome medidas externas a las estipuladas, se deberá responder (de
                manera limitada) con el pago equivalente a dos veces el valor del pedido realizado o 1,500MXN; siempre
                optando por el monto de menor valor monetario.
                <br>
                6.3. Costes adicionales: Usted debe asumir todos los gastos asociados al mantenimiento, reparación o
                corrección de su equipo, software o datos provenientes del manejo, por su parte, del contenido de esta
                Plataforma web; quedan incluidos, sin limitación, cualquier coste resultante del diagnóstico.
                <br>
                <h4 class="text-danger"><b>II.AVISO DE PRIVACIDAD</b></h4>
                <h5 class="text-danger">
                    DATOS PERSONALES
                </h5>
                1.1. Regulaciones legales: La Empresa respeta y acuerda con las variables regulatorias del marco legal
                de los Estados Unidos Mexicanos, referentes a la protección de datos (de carácter personal) de sus
                usuarios. A fin de dar cumplimiento a lo anterior, hacemos práctica de la LEY FEDERAL DE PROTECCIÓN DE
                DATOS PERSONALES EN POSESIÓN DE LOS PARTICULARES, su REGLAMENTO y los LINEAMIENTOS DEL AVISO DE
                PRIVACIDAD.
                <br>
                1.2. Datos Personales solicitados: Se establece como datos personales toda aquella información
                perteneciente a personas naturales, identificadas o no por la Web (en adelante “Datos Personales”). Los
                Datos Personales almacenados por Deli&Go pueden ser brindados por su titular; o bien, pueden ser
                recolectados desde fuentes accesibles al público. Dichos datos serán sometidos a un proceso de
                automatización para su futura adición a la base interna de la Empresa, la cual no es accesible al
                público. De igual manera queda facultada su utilización para análisis de datos por parte de proveedores
                externos.
                <br>
                Entre los Datos Personales que solicitamos, se encuentran los datos de identificación (nombre completo y
                dirección IP), datos de localización (domicilio y/o geo-localización por GPS), datos de contacto
                (teléfono y correo electrónico), datos de autenticidad (nombre de usuario y contraseña), y datos
                patrimoniales (monto individual de sus pedidos, información personal conexa con el método de pago a
                utilizar y su clave del Registro Federal de Contribuyentes en caso de requerir factura). Asimismo,
                podemos hacer uso de la información autorizada por Facebook® y Google Inc., en caso de ingresar a la
                Plataforma web con una cuenta de dicha red.
                <br>
                1.3. Uso de los Datos Personales: Toda información que Ud. proporcione será empleada en las operaciones
                o beneficios transmitidos por la Empresa, tales como:
                <br>
                1.3.1.Proponer productos (bienes y servicios) con base en sus preferencias y ubicación actual;
                <br>
                1.3.2.Facilitar un espacio digital para consumar Pedidos orientados en las necesidades alimenticias que
                usted requiera;
                <br>
                1.3.3.Brindar información relevante de los prestadores de servicios;
                <br>
                1.3.4.Controlar las solicitudes realizadas, gestionando la selección de platillos, la autorización del
                pago, la distribución Pedidos, y la retroalimentación del servicio; y
                <br>
                1.3.5.Difundir y promocionar acontecimientos de interés sobre Deli&Go, Restaurantes, etc.
                <br>
                Toda información referente a métodos de pago es controlada por Grupo Conektame, S.A. de C.V., nuestro
                proveedor especializado en sistemas de cobro digital, quien facilita sus servicios para que nuestros
                clientes reciban una mejor experiencia; se le invita a conocer el aviso de privacidad de tal empresa.
                <br>
                1.4. Seguridad de datos: La transmisión de información a través de internet no es completamente segura,
                por ende, no podemos cerciorar la seguridad de sus Datos Personales transmitidos en la Web; cualquier
                permiso será a su propio riesgo. Por nuestra parte, prometemos tomar las medidas necesarias para evitar
                la pérdida, mal uso, transformación, acceso no delegado y/o apropiación de sus datos. Deli&Go tiene la
                capacidad de exponer Datos Personales en caso de ser requeridos por mandato legal o por una orden
                judicial, así como en casos donde sean indispensables para preservar los derechos otros usuarios o
                terceros.
                <br>
                1.5. TyC’s no aceptadas: Ud. queda en completa libertar de negarse al manejo de Datos Personales para
                las finalidades indicadas en el apartado 1.3 (Uso de los Datos Personales); sin embargo, esto podría
                afectar de manera directa el servicio que brindamos, por lo que Ud. asume las derivaciones que esto
                conlleva.
                <br>
                1.6. Datos Personales no respaldados: La Empresa no se hace responsable de:
                Los Datos Personales que el Usuario facilite a sitios web externos a nosotros, aunque se haya ingresado
                mediante enlaces (links) mostrados en la Plataforma web.
                Toda aquella información que el Usuario aporte al comunicarse con otros usuarios a través de chats,
                Comentarios, correos electrónicos u otras actividades similares. El usuario debe ser prudente en cuanto
                a la información que comparte con otros.
                El contenido adquirido mediante fuentes de acceso público.
                <br>
                1.7. Permiso de cookies: El uso de cookies requeridos por la Plataforma web tiene como fin facilitar el
                acceso, brindar una experiencia satisfactoria y proporcionar estadísticas con otras plataformas
                digitales (Google Analytics); a pesar de esto, la decisión de su uso cae totalmente en el usuario.
                <br>
                1.8. Conformidad de Condiciones de Uso: Al momento de presionar el recuadro de “Acepto las Condiciones
                de uso”, queda declarado que: como usuario autoriza el uso de Datos Personales solicitados por la
                Empresa, y que tiene un plena comprensión y aprobación respecto a nuestras Condiciones de uso de la Web.
                <br>
                Favor de manifestar cualquier recomendación en cuanto a las Condiciones de uso a contacto@deliandgo.com.
            </div>
        </div>
    </div>
{% endblock %}