{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %}
    Unete | Registrar Restaurante
{% endblock %}

{% block styles %}
    <style>
        .bg {
            background: url({% static 'base/img/contacto.jpeg' %});
            background-size: cover;
            background-position: center center;
            padding-bottom: 45%;
            position: absolute;
            width: 100%;
            border-bottom: 2px solid #e0e0e0;
        }

        .geoposition-widget {
            margin-top: -24px !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="bg hidden-xs hidden-sm">
    </div>
    <div class="white border-bottom">
        <div class="container">
            <div class="row row-centered section">
                <div class="col-lg-4 col-centered">
                    <h1 style="top: -3em; position: relative; text-align: right;">
                        <b>
                            <span>Todo</span>
                            <span class="text-warning">comienza</span>
                            <span>aquí</span>
                        </b>
                    </h1>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered ">
                    <div class="white card p-m">
                        <h2 class="font-800">¿Quieres unirte?</h2>
                        <h4 class="font-100">Ingresa tus datos y nos pondremos en contacto</h4>
                        <hr>
                        <form method="post" id="form-contacto">
                            {{ formset.management_form }}
                            {{ form.media }}
                            {% csrf_token %}
                            {% for field in form_contacto %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <input type="hidden" name="nombreUbicacion" id="nombreUbicacion">
                            <button class="btn btn-primary btn-lg" type="submit">
                                Enviar <i class="ion-android-send"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-centered section">
            <div class="col-xs-12 col-md-8 col-centered text-center">
                <h3 class="text-warning">
                    <b>TU COCINA = TU NEGOCIO</b>
                </h3>
                <span style="
                        width: 12em;
                        border-bottom: 1px solid #e0e0e0;
                        position: absolute;
                        margin: 6px auto;
                        left: 0;
                        right: 0;
                "></span>
                <h4 class="mt-m">
                    Sabemos que tu eres el profesional de la cocina, asi que nos ocupamos de todo menos
                    de preparar los alimentos.
                </h4>
            </div>
        </div>
    </div>
    <div class="white">
        <div class="row border">
            <div class="col-xs-12 text-center">
                <h3><b>¿PORQUE DELI&GO?</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center border">
                <h4>
                    Conseguimos mas clientes para ti
                </h4>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center border">
                <h4>
                    Facilitamos el control de tus operaciones
                </h4>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center border">
                <h4>
                    Aceptamos pagos seguros online
                </h4>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center border">
                <h4>
                    Cobramos solo cuando aceptas pedidos
                </h4>
            </div>
        </div>
    </div>
    <div class="white">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="text-white"><b>¿COMO FUNCIONA?</b></h3>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <h4 class="text-white">ASOCIA TU RESTAURANTE</h4>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <h4 class="text-white">DELEITA A MAS CLIENTES</h4>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <h4 class="text-white">COCINA A TU ESTILO</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'geoposition/geoposition.js' %}"></script>
    <link rel="stylesheet" href="{% static 'geoposition/geoposition.css' %}">
    <script>

        var $geoposition = $('.geoposition-widget');

        $(document).ready(function () {
            var $geoposition_search = $geoposition.find('.geoposition-search');
            $geoposition.find('table').hide();
            $geoposition_search.prepend('<label class="control-label">Ubicación del restaurante (Mueve el marcador del mapa)</label');
            $geoposition_search.addClass('form-group');
            $geoposition_search.find('input[type="search"]').addClass('form-control').attr('placeholder', 'Buscar en el mapa ...');
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function (objPosition) {
                        var lon = objPosition.coords.longitude;
                        var lat = objPosition.coords.latitude;
                        var latitud = document.getElementById("id_direccion_0");
                        var longitud = document.getElementById("id_direccion_1");
                        latitud.value = lat;
                        longitud.value = lon;
                        $("#id_direccion_0").trigger(
                            jQuery.Event('keyup', {keyCode: 32, wich: 32})
                        )
                    },
                    function (objPositionError) {
                        switch (objPositionError.code) {
                            case objPositionError.PERMISSION_DENIED:
                                console.log("No se ha permitido el acceso a la posición del usuario.");
                                break;
                            case objPositionError.POSITION_UNAVAILABLE:
                                console.log("No se ha podido acceder a la información de su posición.");
                                break;
                            case objPositionError.TIMEOUT:
                                console.log("El servicio ha tardado demasiado tiempo en responder.");
                                break;
                            default:
                                console.log("Error desconocido.");
                        }
                    },
                    {
                        maximumAge: 75000,
                        timeout: 15000
                    });
            }
            else {
                console.log("Su navegador no soporta la API de geolocalización.");
            }
            $('#id_telefono').mask("(000)000-0000");
        });
        $("#form-contacto").validate({
            rules: {
                // simple rule, converted to {required:true}
                name: "required",
                // compound rule
                id_telefono: {
                    required: true,
                    minlength: 7,
                    maxlength: 10
                }
            }
        });
    </script>
{% endblock %}