{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %}
    Información del Restaurante | Deli&Go
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'base/js/pickadate/themes/default.css' %}">
    <link rel="stylesheet" href="{% static 'base/js/pickadate/themes/default.time.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row section">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <h3>Agrega la información del restaurante</h3>
                <form method="POST" enctype="multipart/form-data" id="form_restaurante">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            {{ field.label_tag }}
                            {{ field }}
                            <p class="text-danger">{{ field.errors.as_text }}</p>
                        </div>
                    {% endfor %}
                    <button class="btn" type="submit">
                        Actualizar
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'base/js/pickadate/picker.js' %}"></script>
    <script src="{% static 'base/js/pickadate/picker.time.js' %}"></script>
    <script src="{% static 'base/js/pickadate/translations/es_ES.js' %}"></script>
    <script>

        $('.timepicker').pickatime({
            formatSubmit: 'HH:i',
            hiddenName: true
        });

        $(document).ready(function () {
            $('#id_RFC').mask("LLLXNNNNNXXXX", {
                'translation': {
                    L: {pattern: /[A-Za-z]/},
                    N: {pattern: /[0-9]/},
                    X: {pattern: /[A-Za-z0-9]/}
                }
            });
        });
    </script>
{% endblock %}