{% extends 'base/base.html' %}
{% block styles %}
    <style>
        p {
            text-align: justify;
        }

        b {
            font-size: 1.2em;
        }

        .text-primary {
            color: #00bdaf;
        }

        #menu {
            position: fixed;
            top: 150px;
            margin-left: 8%;
        }

        #menu .nav > li {
            margin-left: 10px;
            border-left: 1px solid transparent;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        #menu .nav > li.active {
            border-left: 1px solid #00bdaf;
            font-weight: 800;
        }

        #menu .nav > li > a {
            padding: 0 15px;
            color: #424242;
        }

        #menu ul > li > a:hover {
            opacity: 0.6;
            background: none;
        }

    </style>
{% endblock %}
{% block content %}

    <div class="container" data-spy="scroll" data-target="#menu">
        <div class="row section row-centered">
            <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 col-centered p-m">
                <h2 class="text-center text-danger">
                    FAQ´s
                </h2>

                <div class="section">
                    <h4 class="text-primary" id="general">
                        GENERAL
                    </h4>

                    <hr>

                    <p>
                        <b>1. ¿Por qué debería ser usuario Deli&Go?</b>
                        <br>
                        Con Deli&Go podrás descubrir, elegir y adquirir platillos nutritivos que distintos restaurantes
                        ponen a tu
                        disposición.
                        <br>
                        El ordenar comida ya no será un problema, en nuestra página facilitamos precios, comentarios,
                        pagos
                        seguros en
                        línea y geolocalización para que hagas tus pedidos de manera sencilla e inmediata.
                    </p>

                    <p>
                        <b>2. Me interesa ser un usuario, ¿cómo creo una cuenta?</b>
                        <br>
                        Unirte a nosotros es gratuito, breve y rápido. Sólo tienes que acceder a “Iniciar sesión” (lado
                        superior
                        derecho) e ingresar la información que se pide; cuando hayas terminado recibirás un e-mail de
                        nuestra parte para
                        darte la bienvenida a Deli&Go.
                    </p>

                    <p>
                        <b>
                            3. ¿Qué beneficios obtengo al crear una cuenta?
                        </b>
                        <br>
                        Al iniciar sesión:
                    <ul>
                        <li>Lograrás agilizar tus compras al almacenar tus datos.</li>
                        <li>Sabrás el estado de tu orden sin necesidad de contactar al restaurante.</li>
                        <li>Podrás guardar platillos para hacer futuros pedidos más rápidos.</li>
                        <li>Lograrás compartir tu experiencia, mediante calificaciones o comentarios, con otros
                            usuarios.
                        </li>
                    </ul>
                    </p>

                    <p>
                        <b>
                            4. Soy dueño de un restaurante, ¿cómo registro mi negocio?
                        </b>
                        <br>
                        Te invitamos a que conozcas los múltiples beneficios que proporcionamos, simplemente ingresa a
                        la
                        sección “Iniciar
                        sesión” y pulsa en “¿Tienes un restaurante?”.
                    </p>
                </div>

                <div class="section">

                    <h4 class="text-primary mt-xl" id="pedidos">
                        PEDIDOS
                    </h4>
                    <hr>
                    <p>
                        <b>5. ¿Cómo ordeno comida en Deli&Go?</b>
                        <br>
                        Para hacer un pedido tienes que seguir estos sencillos pasos:
                        a)Escribe tu dirección o activa tu geolocalización.
                        b)Especifica el estilo de comida que buscas o más se te antoja.
                        c)Observa la variedad de opciones y haz click en el platillo que más se acerque a tu plan de
                        alimentación.
                        d)Agrega los platillos que quieras pulsando el cuadro con símbolo de suma (+).
                        e)Continua la compra ingresando al carrito de compras (lado superior derecho).
                        f)Completa los campos vacíos para que tu pedido sea entregado sin problemas.
                        g)Ingresa tus datos bancarios para efectuar el pago seguro, aceptamos tarjeta de crédito o
                        débito.
                        h)Sigue el estado de tu pedido en tiempo real dentro de tu cuenta o vía e-mail.
                    </p>

                    <p>
                        <b>6. ¿Puedo hacer especificaciones en los platillos?</b>
                        <br>
                        Claro que sí, en Deli&Go nos preocupamos por tu satisfacción por lo que si algún ingrediente no
                        es
                        tu
                        agrado podrás
                        hacérselo saber al restaurante en el carrito de compra.
                    </p>

                    <p>
                        <b>7. ¿Existe algún monto mínimo de compra?</b>
                        <br>
                        En algunos casos los restaurantes fijan un monto necesario para realizar pedidos, este lo podrás
                        encontrar en el
                        perfil de cada negocio.
                    </p>

                    <p>
                        <b>8. ¿Pueden realizarse cargos por el envío?</b>
                        <br>
                        Los envíos dependen de cada restaurante, son ellos quienes deciden si existe algún costo
                        adicional
                        por
                        el servicio.
                        Si tienes algún problema con tu entrega, favor de comunicarte directamente con el restaurante.
                    </p>

                    <p>
                        <b>9. Ya realice mi pedido, ¿qué sigue?</b>
                        <br>
                        Tu pedido será procesado y una vez aceptado por el restaurante recibirás un e-mail con el nombre
                        “Pedido
                        en camino”.
                        Si el restaurante no puede realizar tu orden, por razones propias, esta será cancelada y se te
                        notificará vía correo
                        electrónico o podrás darle seguimiento en tu cuenta dentro de la sección “Pedidos”.
                    </p>

                    <p>
                        <b>10. ¿Se pueden hacer cambios o cancelaciones de pedidos?</b>
                        <br>
                        No, una vez aceptada y procesada tu orden ya no podrás cancelarla. Es recomendable que te
                        comuniques
                        directamente
                        con el restaurante para cualquier cambio, queda bajo su disposición tomar acción.
                    </p>

                    <p>
                        <b>11. ¿Cómo conozco el estado de mi orden?</b>
                        <br>
                        Todas tus compras quedan registradas en tu cuenta dentro del apartado “Pedidos”, aquí podrás
                        conocer
                        el
                        estado
                        actual de tu orden.
                    </p>
                </div>

                <div class="section">
                    <h4 class="text-primary mt-xl" id="pagos">
                        PAGOS
                    </h4>
                    <hr>

                    <p>
                        <b>12. Quiero ordenar un platillo, ¿cómo puedo pagar?</b>
                        <br>
                        Muy fácil, el pago de tus pedidos debe realizarse online (carrito de compras) con una tarjeta de
                        crédito
                        o débito
                        válida. Tu información bancaria estará totalmente segura y no se compartirá con ningún
                        restaurante.
                    </p>

                    <p>
                        <b>13. ¿En qué momento se realiza el cargo a mi tarjeta?</b>
                        <br>
                        El cargo es realizado de manera automática al ingresar los datos bancarios y pulsar el botón
                        “Ordenar”.
                        Con esto
                        evitamos posibles inconvenientes, garantizamos el pago al restaurante y promovemos un servicio
                        satisfactorio.
                    </p>

                    <p>
                        <b>14. Me gustaría guardar mis datos para futuros pagos, ¿cómo puedo hacerlo?</b>
                        <br>
                        Uno de los beneficios de ser usuario es poder guardar datos personales en la plataforma, así que
                        sólo
                        tienes que
                        iniciar sesión, ir a tu perfil e ingresar la información que desees.
                    </p>

                    <p>
                        <b>15. ¿Brindan facturas?</b>
                        <br>
                        Sí, para obtener comprobantes fiscales de tus pedidos tienes que mandar un e-mail a
                        contacto@deliandgo.com
                        solicitando los mismos.
                    </p>
                </div>

                <div class="section">
                    <h4 class="text-primary mt-xl" id="aclaraciones">
                        ACLARACIONES
                    </h4>
                    <hr>
                    <p>
                        <b>16. Tuve problemas con mi pedido, ¿cómo puedo resolverlo?</b>
                        <br>
                        Si no estás satisfecho con tu pedido es importante que te comuniques con el restaurante en
                        cuestión.
                        Por
                        otra parte,
                        nuestro servicio al cliente siempre está disponible para ti, te puedes comunicar con nosotros en
                        caso de
                        no estar
                        contento con la respuesta obtenida.
                    </p>

                    <p>
                        <b>17. La comida no cumplió mis expectativas, ¿cómo lo hago saber?</b>
                        <br>
                        Toda experiencia es importante por lo que si no estás satisfecho con tu pedido te sugerimos
                        compartir tu
                        caso, tanto
                        con otros usuarios como con el restaurante, por medio de comentarios y puntuaciones que expresen
                        tu
                        descontento.
                    </p>

                    <p>
                        <b>18. ¿Cómo compruebo que mi pedido ha sido realizado si no recibí ningún correo de
                            confirmación?</b>
                        <br>
                        Esto es muy fácil, simplemente ingresa a tu cuenta en deliandgo.com y dirígete a la sección
                        “Pedidos”.
                    </p>

                    <p>
                        <b>19. ¿Qué sucede con mi pago si un restaurante rechaza mi orden?</b>
                        <br>
                        El regreso total de tu dinero es posible cuando el restaurante rechaza o cancela tu pedido, o
                        bien
                        si
                        este nunca fue
                        entregado. El monto se devuelve de la misma manera en que se hizo el pago.
                    </p>

                    <p>
                        <b>
                            20. ¿Qué debo hacer si nunca llego mi pedido?
                        </b>
                        <br>
                        Este tipo de casos es poco habitual, de llegar a pasar te pedimos te comuniques primero con el
                        restaurante para
                        aclarar la situación, en caso de no llegar a un acuerdo puedes dirigirte a nosotros en la
                        sección
                        “Contacto” ya sea
                        vía chat, teléfono o correo electrónico para dar seguimiento al caso.
                    </p>
                </div>
            </div>
            <div class="col-sm-2 col-md-3 col-lg-4 col-centered hidden-xs">
                <div id="menu">
                    <b>Secciones: </b>
                    <ul class="nav" role="tablist">
                        <li><a href="#general">General</a></li>
                        <li><a href="#pedidos">Pedidos</a></li>
                        <li><a href="#pagos">Pagos</a></li>
                        <li><a href="#aclaraciones">Aclaraciones</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script>
        $('body').scrollspy({target: '#menu'})
    </script>
{% endblock %}