{% extends 'base/base.html' %}

{% load static from staticfiles %}

{% block title %}
    Regístrate | Inicia Sesión
{% endblock %}
{% block styles %}
    <style>
        body {
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url({% static 'base/img/bg-login.jpg' %}) center center;
            background-size: cover;
            background-attachment: fixed;
        }

        .container {
            min-height: 100vh;
        }

        .container > .row:first-child {
            margin-top: 64px;
        }

        .checkbox-recordar {
            display: inline-block;
            margin-top: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="bg-login">
        <div class="container">
            <div class="row row-centered">
                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5 col-centered m-t-lg">
                    <div class="well white m-b-0 shadow">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs row">
                                <li class="{% if not register_error %}active{% endif %} col-xs-6 text-center p-0">
                                    <a data-toggle="tab" href="#tab-login">¿Tienes cuenta?</a>
                                </li>
                                <li class="{% if register_error %}active{% endif %} col-xs-6 text-center p-0">
                                    <a data-toggle="tab" href="#tab-signup">¿Eres nuevo?</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-login"
                                     class="tab-pane {% if not register_error %}active{% endif %}">
                                    <div class="panel-body">
                                        <h3 class="m-t-sm font-800 text-center">Inicia sesión</h3>
                                        {% if error != '' %}
                                            <p class="text-danger">
                                                {{ error }}
                                            </p>
                                        {% endif %}
                                        <form class="m-t" role="form" method="post" accept-charset="utf-8"
                                              id="form_login">
                                            {% csrf_token %}

                                            <div class="form-group">
                                                <label for="id_username" class="control-label">
                                                    Correo electrónico:
                                                </label>
                                                <input id="id_username" maxlength="50" name="username"
                                                       class="form-control input-lg"
                                                       required type="text">
                                            </div>

                                            <div class="form-group">
                                                <label for="password"
                                                       class="control-label">Contraseña:</label>
                                                <input id="password" maxlength="50" name="password"
                                                       class="form-control input-lg"
                                                       required type="password">
                                            </div>

                                            <div class="form-group m-b-0">
                                                <div class="checkbox checkbox-recordar">
                                                    <label>
                                                        <input id="id_recordarme" name="recordarme"
                                                               type="checkbox">
                                                        Recordar mi cuenta
                                                    </label>
                                                </div>
                                                <button class="btn btn-primary btn-lg right" type="submit"
                                                        id="btn-login" name="login_form">
                                                    Inicia Sesión
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="tab-signup" class="tab-pane {% if register_error %}active{% endif %}">
                                    <div class="panel-body">
                                        <h3 class="m-t-sm font-800 text-center">Regístrate</h3>

                                        <form role="form" method="post" accept-charset="utf-8" id="form_signup">
                                            {% csrf_token %}

                                            {% for field in user_register %}

                                                <!-- Render the field label tag -->
                                                <div class="form-group {% if field.errors %}has-error{% endif %} ">
                                                    {{ field.label_tag }}
                                                    {{ field }}
                                                    <div class="error text-danger m-b-0">
                                                        {% if field.errors %}
                                                            {% for error in field.errors %}
                                                                <p class="text-danger m-b-0">
                                                                    {{ error|safe }}&nbsp;<i class="error"></i>
                                                                </p>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            {% endfor %}
                                            <div class="form-group">
                                                <label class="control-label" for="repass">Repite tu
                                                    contraseña:</label>
                                                <input id="repass" type="password" name="repass" required
                                                       class="form-control"/>
                                            </div>

                                            <div class="form-group m-b-0">
                                                <div class="checkbox checkbox-recordar">
                                                    <label>
                                                        <input type="checkbox" id="checkbox_terminos"
                                                               name="terminos">
                                                        <span>
                                                            Acepto los <br>
                                                            <a href="#" style="left: -8px; position: relative;">Términos y Condiciones</a>
                                                        </span>
                                                    </label>
                                                </div>
                                                <button class="btn btn-primary btn-lg right disabled m-t-sm"
                                                        id="btn-signup"
                                                        type="submit" disabled name="register_form">Regístrate
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'usuarios_app:Contacto' %}" class="text-white">
                        <div class="alert alert-success text-center m-b-0">
                            ¿Tienes un restaurante? <strong>Entra aquí</strong>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row hidden">
                <div class="col-lg-6">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="EXVU8MZF9VS54">
                        <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_subscribeCC_LG.gif"
                               border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1"
                             height="1">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var $tab_login = $('#tab-login');
        var $tab_signup = $('#tab-signup');

        $tab_login.find('form').validate({
            rules: {
                name: {
                    'required': true
                },
                username: {
                    required: true,
                    email: true
                }
            }
        });

        $tab_signup.find('form').validate({
            rules: {
                name: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6
                },
                repass: {
                    equalTo: "#id_password"
                },
                terminos: {
                    required: true
                }
            }
        });

        $tab_login.find('form').submit(function () {
            if ($(this).valid()) {
                $('#btn-login').addClass('disabled').html('<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;&nbsp;Iniciando...');
            }

        });
        $tab_signup.find('form').submit(function () {
            if ($(this).valid()) {
                $('#btn-signup').addClass('disabled').html('<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;&nbsp;Registrando...');
            }
        });

        $('#checkbox_terminos').on('change', function () {
            if ($(this).is(':checked')) {
                $("#btn-signup").removeClass('disabled').attr('disabled', false);
            }
            else {
                $("#btn-signup").addClass('disabled').attr('disabled', true);
            }
            checkCorreoEnUso();
        });

        $(document).ready(function () {
            $('nav.navbar').addClass('navbar-inverse navbar-fixed-top navbar-transparent');
        });

        var $email = $("#id_email");
        $email.on('keyup', function () {
            checkCorreoEnUso();
        });
        $email.on('hover', function () {
            checkCorreoEnUso();
        });
        $email.on('change', function () {
            checkCorreoEnUso();
        });

        function checkCorreoEnUso() {
            var $this = $('#id_email');
            var correo = "" + $this.val();
            $.ajax({
                url: "{% url 'usuarios_app:ajax_validar_correo' %}",
                type: 'post',
                data: {"email": correo},
                beforeSend: function () {

                },
                success: function (data) {
                    if (data + "" == "True") {
                        $("#btn-signup").attr("disabled", true);
                        $this.closest('.form-group').addClass('has-error');
                        $this.next('div.error').html('El correo ya está en uso');
                        return true;
                    } else {
                        $("#btn-signup").attr("disabled", false);
                        $this.closest('.form-group').removeClass('has-error');
                        $this.next('div.error').html(null);
                        return false;
                    }
                },
                error: function (xhr, errmsg, err) {

                }
            });
        }
    </script>
{% endblock %}