{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %}
    Completa tu registro | Deli&Go
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/file/fileinput.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h3>
                    Sólo un paso más
                </h3>
                {{ error }}
                <form method="post" enctype="multipart/form-data">
                    {{ formset.management_form }}
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success btn-lg">Guardar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'base/js/file/purify.min.js' %}"></script>
    <script src="{% static 'base/js/file/fileinput.min.js' %}"></script>
    <script src="{% static 'base/js/file/theme.js' %}"></script>
    <script src="{% static 'base/js/file/es.js' %}"></script>
    <script>
        $('.file').fileinput({
            theme: "fa",
            language: "es",
            showUpload: false,
        });
        $('#id_telefono').mask("(000)000-0000");
    </script>
{% endblock %}