{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %}
    Completa tu registro | Deli&Go
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/file/fileinput.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/responsive-tabs/bootstrap-responsive-tabs.css' %}">
    <style>
        .nav-tabs > li {
            width: 33.33%;
            text-align: center;
        }

        .estilo {
            text-align: center;
            cursor: pointer;
            display: inline-block;
            font-weight: 600 !important;
            line-height: 1em;
            margin: 0 20px;
        }

        .estilo:hover {
            color: #f4511e;
        }

        .estilo img {
            margin: 0 auto;
            height: 50px;
            cursor: pointer;
        }

        .estilo input {
            display: none;
        }

        .estilo label {
            font-size: 0.75em;
            font-weight: 600 !important;
            cursor: pointer;
        }

        .estilo.checked {
            color: #e91e63;
        }

        .estilo.checked img {
            opacity: 0.4;
            filter: alpha(opacity=40);
        }

        .badge-checked {
            position: absolute;
            margin-left: -5px;
            margin-top: 4px;
            background-color: #208b81;
            opacity: 0.9;
        }

        .estilo:not(.checked) .badge-checked {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row row-centered section">
            <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 col-centered">
                <div class="tabs-container card">
                    <ul class="nav nav-tabs responsive-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tab-perfil" onclick="activo('#tab-perfil')">
                                Perfil
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab-historial" onclick="activo('#tab-historial')">
                                Pedidos
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tab-like" onclick="activo('#tab-like')">
                                Favoritos
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-perfil" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <div class="avatar center border mb-s" id="imagen-restaurante">
                                                    <style>
                                                        #imagen-restaurante {
                                                            background: url({{ user.urlImagen }}) center center;
                                                            background-size: cover;
                                                            width: 100px;
                                                            height: 100px;
                                                        }
                                                    </style>
                                                </div>

                                                <p class="m-0">{{ user.get_full_name }}</p>
                                                <p class="m-0">Correo: {{ user.email }}</p>
                                                <p>Telefono: {{ user.telefono }}</p>

                                                <a data-toggle="modal" class="btn btn-link btn-lg no-shadow inline"
                                                   data-target="#modal_perfilUpdate">
                                                    <i class="material-icons text-info">mode_edit</i>&nbsp;Editar perfil
                                                </a>
                                                <a data-toggle="modal" class="btn btn-link btn-lg no-shadow inline"
                                                   data-target="#modal_ImgUsuario">
                                                    <i class="material-icons text-danger">portrait</i>&nbsp;Cambiar
                                                    Imagen
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <hr>
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <h4>Mi estilo de comida</h4>
                                            </div>
                                            <div class="col-lg-12 section">
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <div class="center text-center">
                                                        {% for estilo in estilos %}
                                                            <div class="estilo" data-nombre="{{ estilo }}">
                                                                {% with "base/img/estilos/"|add:estilo.nombre_icono as icono %}
                                                                    <span class="badge badge-checked"><i
                                                                            class="ion-checkmark"></i></span>
                                                                    <img src="{% static icono %}">

                                                                    {% for value, text in formFavoritos.cualidad.field.choices %}
                                                                        {% ifequal estilo.id|add:"0" value|add:"0" %}
                                                                            <label for="estilo{{ value }}"
                                                                                   class="label-estilo">
                                                                                <input type="checkbox"
                                                                                       id="estilo{{ value }}"
                                                                                       name="tipo"
                                                                                       value="{{ value }}"
                                                                                        {% if value|stringformat:"s" in busquedaForm.tipo.data %}
                                                                                       checked="checked"
                                                                                        {% endif %}
                                                                                />
                                                                                {{ text }}
                                                                            </label>
                                                                        {% endifequal %}
                                                                    {% endfor %}
                                                                {% endwith %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-lg-6 hidden">
                                                <label>Mis estilos:</label>
                                                {% if misFavoritos %}
                                                    <ul>
                                                        {% for favorito in misFavoritos %}
                                                            <li>
                                                                {{ favorito }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <p>Aún no has elegido estilos favoritos</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-historial" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4>Pedidos realizados</h4>
                                        {% if misPedidos %}
                                            {% for pedido in misPedidos %}
                                                <div>
                                                    <br>
                                                    Restaurante: {{ pedido.NombreRestaurante }}
                                                    <br>
                                                    Monto Total: {{ pedido.monto_total }}
                                                    <br>
                                                    <span id="spanPedido{{ pedido.id }}">
                                                    Estado: {{ pedido.estado }}
                                                </span>
                                                    {% if pedido.estado == "entregado" or pedido.estado == "cancelado" %}
                                                        <a href="{% url 'usuarios_app:detalleRestaurante' pedido.platillo.all.first.restaurante.slug %}">
                                                            <button>
                                                                comentar
                                                            </button>
                                                        </a>
                                                    {% endif %}
                                                    <br>
                                                    Fecha: {{ pedido.fecha }}
                                                    <br>
                                                    Orden:
                                                    <ul>
                                                        {% for platillo in pedido.platillo.all %}
                                                            <li>
                                                                {{ platillo }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>

                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p>Ordenar es muy fácil, elige platillos sanos en cualquier lugar.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-like" class="tab-pane">
                            <div class="panel-body">
                                <h4>Mis restaurantes</h4>
                                {% if likesRestaurnates %}
                                    <h5>Restaurantes Favoritos</h5>
                                    {% for like in likesRestaurnates %}
                                        {{ like.restaurante.get_name }}
                                        <a href="{% url 'usuarios_app:detalleRestaurante' like.restaurante.slug %}">
                                            <button>
                                                Ver
                                            </button>
                                        </a>
                                        <br>
                                    {% endfor %}
                                {% else %}
                                    <p>
                                        Elige tus favoritos y ordena nuevamente.
                                    </p>
                                {% endif %}
                                <hr>
                                <h4>Mis platillos</h4>
                                {% if likesPlatillos %}
                                    <ul>
                                        {% for like in likesPlatillos %}
                                            <li>
                                                <a href="{% url 'servicios_app:detallePlatillo' like.platillo.restaurante.slug like.platillo.slug %}">
                                                    {{ like.platillo.nombre }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>
                                        Guarda platillos para tu próximo pedido.
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal " id="modal_perfilUpdate" tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeInUp">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                                                        <span aria-hidden="true">
                                                            &times;
                                                        </span>
                        <span class="sr-only">
                                                            Close
                                                        </span>
                    </button>
                    <h4 class="modal-title">
                        Actualiza tu perfil
                    </h4>
                </div>
                <form method="POST" enctype="multipart/form-data"
                      id="form_restaurante">
                    <div class="modal-body">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                {{ field.label_tag }}
                                {{ field }}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg"
                                data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit"
                                class="btn btn-lg btn-success">
                            <i class="material-icons">save</i>Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal inmodal " id="modal_ImgUsuario" tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeInUp">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                        <span class="sr-only">
                                                    Close
                                                </span>
                    </button>
                    <h4 class="modal-title">
                        Actualiza tu imagen de perfil
                    </h4>
                </div>
                <form method="POST" enctype="multipart/form-data"
                      id="form_imgRestaurante">
                    <div class="modal-body">
                        {% csrf_token %}
                        {% for field in formImgUpdate %}
                            {% if field.label == "id_usuario" %}
                                {{ field }}
                            {% else %}
                                <div class="form-group">
                                    {{ field.label_tag }} {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg"
                                data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit"
                                class="btn btn-lg btn-success">
                            <i class="material-icons">save</i>Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'base/js/file/purify.min.js' %}"></script>
    <script src="{% static 'base/js/file/fileinput.min.js' %}"></script>
    <script src="{% static 'base/js/file/theme.js' %}"></script>
    <script src="{% static 'base/js/file/es.js' %}"></script>

    <script src="{% static 'base/js/responsive-tabs/bootstrap-responsive-tabs.min.js' %}"></script>

    <script>
        $('.file').fileinput({
            theme: "fa",
            language: "es",
            showUpload: false,
        });

        $('.responsive-tabs').responsiveTabs({
            // https://github.com/vtimbuc/bootstrap-responsive-tabs
            accordionOn: ['xs', 'sm'] // xs, sm, md, lg
        });

        function activo(seleccionado) {
            $('#tab-historial').removeClass("active");
            $('#tab-like').removeClass("active");
            $('#tab-perfil').removeClass("active");
            $(seleccionado).addClass("active");
        }
        $('#id_telefono').mask("(000)000-0000");
    </script>
    <script>
        $(document).ready(
            function () {
                function actualizarPedidos() {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'usuarios_app:ajax_actualizar_pedidos' %}",
                        data: {"usuario": "{{user.id}}"},
                        beforeSend: function (xhr) {

                        },
                        success: function (data) {
                            console.log(data);
                            var json = JSON.parse(data);
                            for (var i = 0; i < json.resultados.length; i++) {
                                pedido = json.resultados[i];
                                console.log(pedido.id);
                                console.log(pedido.estado);
                                $('#spanPedido' + pedido.id).text("Estado: " + pedido.estado)
                            }

                        },
                        error: function (xhr, errmsg, err) {

                        }
                    })
                }

                setInterval(actualizarPedidos, 1000)
            }
        );

        var misfavoritos = [];
        {% for fav in misFavoritos %}
            misfavoritos.push("{{ fav }}");
        {% endfor %}
        console.log(misfavoritos);
        $('.estilo').each(function () {
            var $checkbox = $(this).find('input[type="checkbox"][name="tipo"]');
            if ($.inArray($(this).attr('data-nombre'), misfavoritos) > -1) {
                $(this).addClass('checked');
                $checkbox.prop('checked', true);
            }
            else {
                $(this).removeClass('checked');
                $checkbox.prop('checked', false);
            }
        });

        // Funciones para los iconos de estilos y filtros
        $('.estilo').on('click', function () {
            // Toggle checkbox on click
            var $checkbox = $(this).find('input[type="checkbox"][name="tipo"]');
            $checkbox.prop('checked', !$checkbox.prop('checked'));
            if ($checkbox.prop('checked')) {
                // alert('checked');
                $(this).addClass('checked');
            }
            else {
                $(this).removeClass('checked');
            }
            $(this).closest('form').submit();
        });

        $('.label-estilo').on('click', function (e) {
            // Evita que al dar click en un label no se tome en cuenta la funcion
            // anterior de click en el cuadro de estilos
            e.preventDefault();
            // e.stopPropagation();
        });
    </script>
    {% comment %}
    <script>
        setTimeout('document.location.reload()', 10000);
    </script>
    {% endcomment %}
{% endblock %}