{% extends 'base/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Carrito | Deli&Go
{% endblock %}

{% block styles %}
    <style>
        .icon-add, .icon-remove {
            line-height: 1.3;
            font-size: 1.5em;
        }
    </style>
{% endblock %}

{% block content %}
    {% if carrito|length == 0 %}
        <div class="container">
            <div class="row section">
                <div class="col-xs-12">
                    <h5>
                        Lo sentimos su pedido esta vacio
                    </h5>
                    <a class="btn btn-danger btn-lg" href="{% url 'index' %}">
                        Ver Platillos
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <form method="post">
            <div class="container">
                <div class="row section">
                    <div class="col-xs-12">
                        <h3 class="font-800">Resumen de tu pedido</h3>
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th class="text-center">Cantidad</th>
                                    <th class="text-right">Precio</th>
                                    <th class="text-right">Subtotal</th>
                                    <th colspan="2"></th>
                                </tr>

                                {% csrf_token %}
                                {% for item in carrito %}
                                    <tr>
                                        <td>
                                            <div class="avatar" id="img-item{{ item.id }}">
                                                <style>
                                                    #img-item{{ item.id }} {
                                                        background: url({{ item.imagen.url }}) center center;
                                                        background-size: cover;
                                                        width: 70px;
                                                        height: 70px;
                                                    }
                                                </style>
                                            </div>
                                        </td>
                                        <td>{{ item.nombre }}</td>
                                        <td class="text-center">
                                        <span class="pointer"
                                              onclick="ajaxQuitar1Platillo({{ item.id|floatformat:'0' }})">
                                            <i class="material-icons icon-remove">remove</i>
                                        </span>
                                            {{ item.cantidad }}
                                            <span class="pointer"
                                                  onclick="ajaxAgregarPlatillo({{ item.id|floatformat:'0' }})">
                                            <i class="material-icons icon-add">add</i>
                                        </span>
                                        </td>
                                        <td class="text-right">${{ item.precio|floatformat:2|intcomma }}</td>
                                        <td class="text-right">${{ item.subTotal|floatformat:2|intcomma }}</td>
                                        <td>
                                            <div class="form-group">
                                                <input class="form-control mt-xs" type="text"
                                                       name="cambios{{ item.id }}"
                                                       id="cambios{{ item.id }}"
                                                       value="{{ item.cambios }}" placeholder="Observaciones">
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="pointer no-margins"
                                                onclick="ajaxQuitarPlatillo({{ item.id|floatformat:'0' }})">
                                                <i class="material-icons text-danger">clear</i>
                                            </h4>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="well">

                            <p class="m-0">Subtotal: <b class="right">${{ subTotalCarrito|floatformat:"2" }}</b></p>
                            <p class="m-0">Costo envio: <span class="right">+ {{ constoEnvio|floatformat:"2" }}</span>
                            </p>
                            <h5>Total: <b class="right">${{ total|floatformat:"2" }}</b></h5>
                            <button type="submit" class="btn btn-danger btn-block btn-lg mt-xs">
                                Continuar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script>
        function ajaxQuitarPlatillo(id_platillo) {
            $.ajax({
                url: "{% url 'servicios_app:ajaxQuitarPlatillo' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function (xhr) {

                },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, errmsg, err) {
                    alert("No se pudo quitar el platillo");
                }
            });
        }
        function ajaxQuitar1Platillo(id_platillo) {
            $.ajax({
                url: "{% url 'servicios_app:ajaxQuitar1Platillo' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function (xhr) {

                },
                success: function (data) {
                    {% comment %}
                    console.log(data);
                    console.log(data["costoEnvio"]);
                    console.log(data["total"]);
                    for (var i = 0; i < data["platillos"].length; i++) {
                        console.log(data["platillos"][i]["id"]);
                        console.log(data["platillos"][i]["nombre"]);
                        console.log(data["platillos"][i]["subtotal"]);
                        console.log(data["platillos"][i]["cantidad"]);
                        console.log(data["platillos"][i]["precio"]);
                    }
                    {% endcomment %}
                    location.reload();
                },
                error: function (xhr, errmsg, err) {
                    alert("no se pudo quitar el platillo");
                }
            });
        }
        function ajaxAgregarPlatillo(id_platillo) {
            console.log(id_platillo);
            $.ajax({
                url: "{% url 'servicios_app:ajaxAgregarPlatillo' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function (xhr) {
                },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, errmsg, err) {
                    alert("no se pudo quitar el platillo");
                }
            });
        }
    </script>
{% endblock %}