{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
    test tarjeta | Deli&Go
{% endblock %}

{% block content %}

    <form method="POST" id="card-form">
        {% csrf_token %}
        <span class="card-errors text-danger">
            {{ error }}
        </span>
        <div class="form-row">
            <label>
                <span>Nombre del tarjetahabiente</span>
                <input type="text" size="20" data-conekta="card[name]" maxlength="20"/>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Número de tarjeta de crédito</span>
                <input type="text" size="20" data-conekta="card[number]" maxlength="16"/>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>CVC</span>
                <input type="text" size="4" data-conekta="card[cvc]" maxlength="4"/>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Fecha de expiración (MM/AAAA)</span>
                <input type="text" size="2" data-conekta="card[exp_month]" maxlength="2"/>
            </label>
            <span>/</span>
            <input type="text" size="4" data-conekta="card[exp_year]" maxlength="4"/>
        </div>
        <!-- Información recomendada para sistema antifraude -->
        <div class="form-row">
            <label>
                <span>Calle</span>
                <input type="text" size="25" data-conekta="card[address][street1]" id="calle" name="calle"/>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Colonia</span>
                <input type="text" size="25" data-conekta="card[address][street2]" id="colonia" name="colonia"/>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Ciudad</span>
                <input type="text" size="25" data-conekta="card[address][city]" id="ciudad" name="ciudad"/>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Estado</span>
                <input type="text" size="25" data-conekta="card[address][state]" id="estado"/>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>CP</span>
                <input type="text" size="5" data-conekta="card[address][zip]" id="CP"/>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>País</span>
                <input type="text" size="25" data-conekta="card[address][country]" id="Pais"/>
            </label>
        </div>
        <button type="submit">¡Pagar ahora!</button>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.5.0/js/conekta.js"></script>
    <script type="text/javascript">
        Conekta.setPublicKey('{{ conektaLlavePublica }}');
        var conektaSuccessResponseHandler = function (token) {
            var $form = $("#card-form");
            $form.append($("<input type='hidden' name='conektaTokenId'>").val(token.id));
            $form.get(0).submit();
        };
        var conektaErrorResponseHandler = function (response) {
            var $form = $("#card-form");
            $form.find(".card-errors").text(response.message_to_purchaser);
            $form.find("button").prop("disabled", false);
        };
        $(function () {
            $("#card-form").submit(function (event) {
                var $form = $(this);
                $form.find("button").prop("disabled", true);
                Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler); //v5+
                return false;
            });
        });

    </script>
{% endblock %}