{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    Gracias | Deli&Go
{% endblock %}
{% block styles %}
    <style>

        .form-group, .input-group {
            margin-bottom: 5px;
        }

        #id_password_signin {
            width: 100%;
            z-index: 10;
        }

        .nav.nav-tabs li {
            width: 50%;
            color: #009688 !important;
        }

        .top-navigation .nav > li.active {
            background: none;
        }

        .nav.nav-tabs li a {
            color: #444DFF !important;
            text-decoration: underline;
        }

        .nav.nav-tabs li.active a {
            color: #000 !important;
            text-decoration: none;
        }

        .wrapper .middle-box {
            margin-top: 0;
            margin-bottom: 40px;
        }

        .psw {
            position: relative;
            width: 100%;
            z-index: 10;
            background: transparent;
            height: 34px;
            -webkit-transition: border .25s linear, color .25s linear;
            -moz-transition: border .25s linear, color .25s linear;
            -o-transition: border .25s linear, color .25s linear;
            transition: border .25s linear, color .25s linear;
            -webkit-backface-visibility: hidden;
            width: 100%;
        }

        .psw:focus {
            outline: 0;
        }

        .strength_meter {
            background: #fff;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 85%;
            height: 34px;
            z-index: 0;
            border-radius: 5px;
            padding-right: 13px;
        }

        .button_strength {
            text-decoration: none;
            font-size: 12px;
        }

        .strength_meter div {
            width: 0%;
            height: 34px;
            text-align: right;
            color: #000;
            line-height: 34px;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            padding-right: 12px;
            border-radius: 5px;
        }

        .strength_meter div p {
            position: absolute;
            top: 22px;
            right: 0px;
            color: #FFF;
            font-size: 13px;
        }

        .veryweak {
            background-color: #EF5350;
            border-color: #EF5350 !important;
            width: 25% !important;
            opacity: 0.4;
        }

        .weak {
            background-color: #FF9800;
            border-color: #FF9800 !important;
            width: 50% !important;
            opacity: 0.4;
        }

        .medium {
            background-color: #1DE9B6;
            border-color: #1DE9B6 !important;
            width: 75% !important;
            opacity: 0.4;
        }

        .strong {
            background-color: #536DFE;
            border-color: #536DFE !important;
            width: 100% !important;
            opacity: 0.4;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Gracias por su compra</h1>

        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            {% if user.is_anonymous %}
                <h1>Tu pedido esta en camino checa tu correo para mas informacion</h1>
            {% else %}
                <h1>Ve a tu perfil para ver el estado de tu pedido</h1>
                <a href="{% url 'usuarios_app:Perfil' %}">
                    <span class="btn">
                        Ir a mi perfil
                    </span>
                </a>
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block scripts %}
{% endblock %}