{% extends 'base/base.html' %}
{% load staticfiles %}


{% block title %}
    Elige tus platillos | Deli&Go
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row section">
            <div class="col-xs-12">
                {% if error %}
                    <div class="alert alert-danger text-center">
                        {% for erro in error %}
                            <p>{{ erro }}</p>
                        {% endfor %}
                        <small>Intentar nuevamente</small>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <form method="post" id="card-form">
                    {% csrf_token %}
                    <h4><b>Informacion de entrega</b></h4>
                    <div class="row">
                        {% for field in datosPedido %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ field.label_tag }}{{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="ciudad_1" id="ciudad_1">
                    <input type="hidden" name="colonia_1" id="colonia_1">
                    {% if not user.is_authenticated %}
                        <br>
                        <input type="checkbox" name="Registrarse" id="Registrarse" onclick="mostrarInputPassword(this)">
                        crear cuenta?
                        </input>
                        <br>
                        <label for="passNuevo" id="labelPass" hidden>Password:</label>
                        <input type="password" id="passNuevo" name="passNuevo" minlength="6" hidden>
                        <br>
                    {% endif %}
                    <h4><b>Información de pago</b></h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Nombre del tarjetahabiente
                                </label>
                                <input type="text" data-conekta="card[name]" maxlength="20" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Número tarjeta de crédito
                                </label>
                                <input type="text" data-conekta="card[number]" maxlength="16" required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Fecha de expiración
                        </label>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <input class="col-xs-6" type="text" data-conekta="card[exp_month]" maxlength="2"
                                           required placeholder="Mes (MM)"/>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <input class="col-xs-6" type="text" data-conekta="card[exp_year]" maxlength="4"
                                           required placeholder="Año (YYYY)"/>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <input type="text" data-conekta="card[cvc]" maxlength="4" required
                                           placeholder="CVC"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-success">Siguiente</button>
                </form>
            </div>
            <div class="col-lg-6" id="div-carrito">
                <h4><b>Resumen</b></h4>
                <table class="table card white">
                    <tr>
                        <th>Platillo</th>
                        <th class="text-right">Cantidad</th>
                        <th class="text-right">Precio</th>
                        <th class="text-right">Subtotal</th>
                    </tr>
                    {% for item in carrito %}
                        <tr>
                            <td>{{ item.nombre }}</td>
                            <td class="text-right">
                                {{ item.cantidad }}
                            </td>
                            <td class="text-right">${{ item.precio }}</td>
                            <td class="text-right">${{ item.subTotal }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3">Envio:</td>
                        <td colspan="3" class="text-right">${{ ENVIO }}</td>
                    </tr>
                    <tr>
                        <td colspan="3"><b>Total:</b></td>
                        <td colspan="3" class="text-right"><b>${{ TOTAL }}</b></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.5.0/js/conekta.js"></script>
    <script type="text/javascript">
        $('#id_telefono').mask("(000)000-0000");
        Conekta.setPublicKey('{{ conektaLlavePublica }}');
        if (sessionStorage.getItem("colonia") != null && sessionStorage.getItem("ciudad") != null) {
            document.getElementById("id_colonia").value = sessionStorage.getItem("colonia");
            document.getElementById("colonia_1").value = sessionStorage.getItem("colonia");
            document.getElementById("id_ciudad").value = sessionStorage.getItem("ciudad");
            document.getElementById("ciudad_1").value = sessionStorage.getItem("ciudad");
        } else {
            window.location = "{% url 'servicios_app:buscador2' %}"
        }

        var conektaSuccessResponseHandler = function (token) {
            var $form = $("#card-form");
            $form.append($("<input type='hidden' name='conektaTokenId'>").val(token.id));
            $form.get(0).submit();
        };
        var conektaErrorResponseHandler = function (response) {
            var $form = $("#card-form");
            $form.find(".card-errors").text(response.message_to_purchaser);
            $form.find("button").prop("disabled", false);
        };
        $(function () {
            $("#card-form").submit(function (event) {
                var $form = $(this);
                $form.find("button").prop("disabled", true);
                Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler); //v5+
                return false;
            });
        });
    </script>
    <script>
        function mostrarInputPassword(checkbox) {
            if (checkbox.checked) {
                document.getElementById("passNuevo").removeAttribute("hidden");
                document.getElementById("labelPass").removeAttribute("hidden");
            } else {
                document.getElementById("passNuevo").setAttribute("hidden", "hidden");
                document.getElementById("labelPass").setAttribute("hidden", "hidden");
            }
        }

    </script>
    <script>
        function ajaxQuitarPlatillo(id_platillo) {
            $.ajax({
                url: "{% url 'servicios_app:ajaxQuitarPlatillo' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function (xhr) {

                },
                success: function (data) {
                    costoEnvio = data["costoEnvio"];
                    total = data["total"];
                    hijos = "";
                    for (var i = 0; i < data["platillos"].length; i++) {
                        hijos += '<tr>' +
                            '<td>' + data["platillos"][i]["nombre"] + '</td> ' +
                            '<td>' +
                            '<span class="btn" onclick="ajaxAgregarPlatillo(' + parseInt(data["platillos"][i]["id"]) + ')">' +
                            '+' +
                            '</span>' +
                            '' + data["platillos"][i]["cantidad"] + '' +
                            '<span class="btn" onclick="ajaxQuitar1Platillo(' + parseInt(data["platillos"][i]["id"]) + ')">' +
                            '-' +
                            '</span>' +
                            '</td>' +
                            '<td>' +
                            data["platillos"][i]["precio"] +
                            '</td> ' +
                            '<td>' +
                            data["platillos"][i]["subtotal"] +
                            '</td>' +
                            '<td>' +
                            '<span class="btn" onclick="ajaxQuitarPlatillo(' + parseInt(data["platillos"][i]["id"]) + ')">' +
                            'X' +
                            '</span>' +
                            '</td>' +
                            '</tr>';
                    }
                    tablaNueva = "carrito:" +
                        "<table border='1'>" +
                        "<tr>" +
                        "<th>nombre</th>" +
                        "<th>Cantidad</th>" +
                        "<th>Precio U</th>" +
                        "<th>Sub Total</th>" +
                        "<th>Eliminar</th>" +
                        "</tr>" +
                        hijos +
                        "<tr>" +
                        "<td colspan=2>" +
                        "ENVIO:" +
                        "</td>" +
                        "<td colspan=3>" +
                        costoEnvio +
                        "</td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td colspan=2>" +
                        "TOTAL:" +
                        "</td>" +
                        "<td colspan=3>" +
                        total +
                        "</td>" +
                        "</tr>" +
                        "</table>";
                    document.getElementById("div-carrito").innerHTML = tablaNueva;
                },
                error: function (xhr, errmsg, err) {
                    alert("no se pudo quitar el platillo");
                }
            });
        }
        function ajaxQuitar1Platillo(id_platillo) {
            $.ajax({
                url: "{% url 'servicios_app:ajaxQuitar1Platillo' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function (xhr) {

                },
                success: function (data) {
                    costoEnvio = data["costoEnvio"];
                    total = data["total"];
                    hijos = "";
                    for (var i = 0; i < data["platillos"].length; i++) {
                        hijos += '<tr>' +
                            '<td>' + data["platillos"][i]["nombre"] + '</td> ' +
                            '<td>' +
                            '<span class="btn" onclick="ajaxAgregarPlatillo(' + parseInt(data["platillos"][i]["id"]) + ')">' +
                            '+' +
                            '</span>' +
                            '' + data["platillos"][i]["cantidad"] + '' +
                            '<span class="btn" onclick="ajaxQuitar1Platillo(' + parseInt(data["platillos"][i]["id"]) + ')">' +
                            '-' +
                            '</span>' +
                            '</td>' +
                            '<td>' +
                            data["platillos"][i]["precio"] +
                            '</td> ' +
                            '<td>' +
                            data["platillos"][i]["subtotal"] +
                            '</td>' +
                            '<td>' +
                            '<span class="btn" onclick="ajaxQuitarPlatillo(' + parseInt(data["platillos"][i]["id"]) + ')">' +
                            'X' +
                            '</span>' +
                            '</td>' +
                            '</tr>';
                    }
                    tablaNueva = "carrito:" +
                        "<table border='1'>" +
                        "<tr>" +
                        "<th>nombre</th>" +
                        "<th>Cantidad</th>" +
                        "<th>Precio U</th>" +
                        "<th>Sub Total</th>" +
                        "<th>Eliminar</th>" +
                        "</tr>" +
                        hijos +
                        "<tr>" +
                        "<td colspan=2>" +
                        "ENVIO:" +
                        "</td>" +
                        "<td colspan=3>" +
                        costoEnvio +
                        "</td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td colspan=2>" +
                        "TOTAL:" +
                        "</td>" +
                        "<td colspan=3>" +
                        total +
                        "</td>" +
                        "</tr>" +
                        "</table>";
                    document.getElementById("div-carrito").innerHTML = tablaNueva;
                },
                error: function (xhr, errmsg, err) {
                    alert("no se pudo quitar el platillo");
                }
            });
        }
        function ajaxAgregarPlatillo(id_platillo) {
            console.log(id_platillo);
            $.ajax({
                url: "{% url 'servicios_app:ajaxAgregarPlatillo' %}",
                type: 'post',
                data: {"id_platillo": id_platillo},
                beforeSend: function (xhr) {
                },
                success: function (data) {
                    costoEnvio = data["costoEnvio"];
                    total = data["total"];
                    hijos = "";
                    for (var i = 0; i < data["platillos"].length; i++) {
                        hijos += '<tr>' +
                            '<td>' + data["platillos"][i]["nombre"] + '</td> ' +
                            '<td>' +
                            '<span class="btn" onclick="ajaxAgregarPlatillo(' + parseInt(data["platillos"][i]["id"]) + ')">' +
                            '+' +
                            '</span>' +
                            '' + data["platillos"][i]["cantidad"] + '' +
                            '<span class="btn" onclick="ajaxQuitar1Platillo(' + parseInt(data["platillos"][i]["id"]) + ')">' +
                            '-' +
                            '</span>' +
                            '</td>' +
                            '<td>' +
                            data["platillos"][i]["precio"] +
                            '</td> ' +
                            '<td>' +
                            data["platillos"][i]["subtotal"] +
                            '</td>' +
                            '<td>' +
                            '<span class="btn" onclick="ajaxQuitarPlatillo(' + parseInt(data["platillos"][i]["id"]) + ')">' +
                            'X' +
                            '</span>' +
                            '</td>' +
                            '</tr>';
                    }
                    tablaNueva = "carrito:" +
                        "<table border='1'>" +
                        "<tr>" +
                        "<th>nombre</th>" +
                        "<th>Cantidad</th>" +
                        "<th>Precio U</th>" +
                        "<th>Sub Total</th>" +
                        "<th>Eliminar</th>" +
                        "</tr>" +
                        hijos +
                        "<tr>" +
                        "<td colspan=2>" +
                        "ENVIO:" +
                        "</td>" +
                        "<td colspan=3>" +
                        costoEnvio +
                        "</td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td colspan=2>" +
                        "TOTAL:" +
                        "</td>" +
                        "<td colspan=3>" +
                        total +
                        "</td>" +
                        "</tr>" +
                        "</table>";
                    document.getElementById("div-carrito").innerHTML = tablaNueva;
                },
                error: function (xhr, errmsg, err) {
                    alert("no se pudo agregar el platillo")
                }
            });
        }

        $(function () {
            $('input, textarea, select').addClass('form-control');
        });
    </script>
{% endblock %}
