{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %}
    PreOrden | Deli&Go
{% endblock %}

{% block content %}
    {% if error %}
        <div class="row">
            <div class="col-lg-12">
                <h1>Errores:</h1>
                {% for eror in error %}
                    <span class="card-errors text-danger">
                        <h2>{{ eror }}</h2>
                    </span>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        {% if direcciones %}
            <div class="row">
                <div class="col-lg-12">
                    <h1>Mis Direcciones</h1>
                </div>
                {% for direccion in direcciones %}
                    <div class="col-lg-3">
                        {{ direccion }}
                        <br>
                        <span class="btn" onclick="seleccionarDireccion({{ direccion.id }})">
                            elegir esta direccion
                        </span>
                        <span class="btn" data-toggle="modal"
                              data-target="#modal_editDir{{ direccion.id }}">
                            Editar Direccion
                        </span>
                        <div class="modal inmodal " id="modal_editDir{{ direccion.id }}" tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated fadeInUp">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">
                                                &times;
                                            </span>
                                            <span class="sr-only">
                                                Close
                                            </span>
                                        </button>
                                        <h4 class="modal-title">
                                            Agrega tu direccion
                                        </h4>
                                    </div>
                                    <form method="POST" enctype="multipart/form-data" id="editDir{{ direccion.id }}">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            {% for field in direccion.updateFormDir %}
                                                {% if field.label == "id_direccion" %}
                                                    {{ field }}
                                                {% else %}
                                                    {{ field.label_tag }} {{ field }}
                                                {% endif %}
                                                <br>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button type="submit" class="btn">
                                                Actualizar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <br>

        {% if tarjetas %}
            <div class="row">
                <div class="col-lg-12">
                    <h1>Mis Tarjetas</h1>
                </div>
                {% for tarjeta in tarjetas %}

                    <div class="col-lg-3">
                        {{ tarjeta }}
                        <br>
                        <span class="btn" onclick="seleccionarTarjeta({{ tarjeta.id }})">
                            elegir esta tarjeta
                        </span>
                        <span class="btn" data-toggle="modal"
                              data-target="#modal_editTar{{ forloop.counter0 }}">
                            Actualizar Tarjeta
                        </span>
                        <div class="modal inmodal " id="modal_editTar{{ forloop.counter0 }}" tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated fadeInUp">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">
                                                &times;
                                            </span>
                                            <span class="sr-only">
                                                Close
                                            </span>
                                        </button>
                                        <h4 class="modal-title">
                                            Actualiza tu tarjeta
                                        </h4>
                                    </div>
                                    <form method="POST" enctype="multipart/form-data"
                                          id="updateTarjeta{{ tarjeta.id }}">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            {% for field in tarjeta.updateFormTar %}
                                                {% if field.label == "tarjeta_id" %}
                                                    {{ field }}
                                                {% else %}
                                                    {{ field.label_tag }} {{ field }}
                                                {% endif %}
                                                <br>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                Cancelar
                                            </button>
                                            <button type="submit" class="btn">
                                                Actualizar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <br>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <span class="btn" data-toggle="modal" data-target="#modal_addDir">
                    Agregar Direccion
                </span>
                <div class="modal inmodal " id="modal_addDir" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content animated fadeInUp">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">
                                    &times;
                                </span>
                                    <span class="sr-only">
                                    Close
                                </span>
                                </button>
                                <h4 class="modal-title">
                                    Agrega tu direccion
                                </h4>
                            </div>

                            <form method="POST" enctype="multipart/form-data" id="addDir">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    {% for field in newDireccion %}
                                        {{ field.label_tag }} {{ field }}
                                        <br>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                    <button type="submit" class="btn">
                                        Agregar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <span class="btn" data-toggle="modal" data-target="#modal_addTar">
                    Agregar Tarjeta
                </span>
                <div class="modal inmodal " id="modal_addTar" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content animated fadeInUp">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">
                                &times;
                            </span>
                                    <span class="sr-only">
                                Close
                            </span>
                                </button>
                                <h4 class="modal-title">
                                    Agrega una tarjeta
                                </h4>
                            </div>

                            <form method="POST" enctype="multipart/form-data" id="addTarjeta">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    {% for field in newTarjeta %}
                                        {{ field.label_tag }} {{ field }}
                                        <br>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-dismiss="modal">
                                        Cancelar
                                    </button>
                                    <button type="submit" class="btn">
                                        Agregar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <form action="{% url 'pagos_app:pagar' %}" method="POST" id="card-form">
                    <div id="datos-tarjeta"></div>
                    {% csrf_token %}
                    Nombre quien recibe:
                    <input type="text" name="nombre_recibe" id="nombre_recibe" value="{{ user.get_full_name }}">
                    <input type="hidden" name="id_tarjeta_select" id="id_tarjeta_select" value="0"/>
                    <input type="hidden" name="id_direccion_select" id="id_direccion_select" value="0"/>
                    <button type="submit" id="pasoFinal" disabled="disabled">
                        Pagar
                    </button>
                </form>
            </div>
        </div>

    {% else %}
        <form action="{% url 'pagos_app:pagar' %}" method="POST" id="card-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <h1>
                        Direccion destino
                    </h1>
                    {% for field in newDireccion %}
                        {{ field.label_tag }} {{ field }}
                        <br>
                    {% endfor %}
                    <label for="nombre_recibe">Nombre quien recibe:</label>
                    <input type="text" name="nombre_recibe" id="nombre_recibe">
                    <button type="submit" class="btn">
                        Pagar
                    </button>
                </div>
                <div class="col-lg-6">
                    <h1>
                        Tarjeta
                    </h1>
                    <span class="card-errors text-danger">
                        {{ error }}
                    </span>
                    <div class="form-row">
                        <label>
                            <span>Nombre del tarjetahabiente</span>
                            <input type="text" size="20" data-conekta="card[name]" maxlength="20" required/>
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Número de tarjeta de crédito</span>
                            <input type="text" size="20" data-conekta="card[number]" maxlength="16" required/>
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>CVC</span>
                            <input type="text" size="4" data-conekta="card[cvc]" maxlength="4" required/>
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Fecha de expiración (MM/AAAA)</span>
                            <input type="text" size="2" data-conekta="card[exp_month]" maxlength="2" required/>
                        </label>
                        <span>/</span>
                        <input type="text" size="4" data-conekta="card[exp_year]" maxlength="4" required/>
                    </div>
                    <label for="email">Email de contacto:</label>
                    <input type="text" name="email" id="email">
                    <br>
                    <label for="celular">Telefono para contacto</label>
                    <input type="text" name="celular" id="celular">

                </div>
                <div class="col-lg-6">
                    <h1>crea una cuenta</h1>
                    {% for field in user_register %}
                        {{ field.label_tag }} {{ field }}
                        <br>
                    {% endfor %}

                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.5.0/js/conekta.js"></script>
    <script type="text/javascript">
        Conekta.setPublicKey('{{ conektaLlavePublica }}');
        var conektaSuccessResponseHandler = function (token) {
            var $form = $("#card-form");
            $form.append($("<input type='hidden' name='conektaTokenId'>").val(token.id));
            $form.get(0).submit();
        };
        var conektaErrorResponseHandler = function (response) {
            var $form = $("#card-form");
            $form.find(".card-errors").text(response.message_to_purchaser);
            $form.find("button").prop("disabled", false);
        };
        $(function () {
            $("#card-form").submit(function (event) {
                var $form = $(this);
                $form.find("button").prop("disabled", true);
                Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler); //v5+
                return false;
            });
        });

    </script>
    {% if user.is_authenticated %}
        <script>
            var x = 0;
            var y = 0;
            try {
                //document.getElementById("pasoFinal").disabled = true;
                function seleccionarTarjeta(tarjeta_id) {
                    console.log(tarjeta_id);
                    x = tarjeta_id;
                    var tarjeta = document.getElementById("id_tarjeta_select");
                    tarjeta.value = tarjeta_id;
                    var tarjetaAtokenizar = document.getElementById("card-form");
                    tarjetaAtokenizar.firstElementChild.innerHTML = "";
                    var tarjetaOrigen = document.getElementById("updateTarjeta" + x);
                    var Inputs = tarjetaOrigen.getElementsByTagName("input");
                    try {
                        var input1 = document.createElement("input");
                        input1.setAttribute("data-conekta", "card[name]");
                        input1.type = "hidden";
                        input1.value = Inputs[2].value;
                        var input2 = document.createElement("input");
                        input2.setAttribute("data-conekta", "card[number]");
                        input2.type = "hidden";
                        input2.value = Inputs[3].value;
                        var input3 = document.createElement("input");
                        input3.setAttribute("data-conekta", "card[cvc]");
                        input3.type = "hidden";
                        input3.value = Inputs[4].value;
                        var input4 = document.createElement("input");
                        input4.setAttribute("data-conekta", "card[exp_month]");
                        input4.type = "hidden";
                        input4.value = Inputs[5].value;
                        var input5 = document.createElement("input");
                        input5.setAttribute("data-conekta", "card[exp_year]");
                        input5.type = "hidden";
                        input5.value = Inputs[6].value;
                        tarjetaAtokenizar.firstElementChild.appendChild(input1);
                        tarjetaAtokenizar.firstElementChild.appendChild(input2);
                        tarjetaAtokenizar.firstElementChild.appendChild(input3);
                        tarjetaAtokenizar.firstElementChild.appendChild(input4);
                        tarjetaAtokenizar.firstElementChild.appendChild(input5);
                    } catch (e) {
                        console.log(e)
                    }


                    console.log(tarjetaAtokenizar);
                    if (x > 0 && y > 0) {
                        document.getElementById("pasoFinal").removeAttribute("disabled");
                    }

                }

                function seleccionarDireccion(direccion_id) {
                    console.log(direccion_id);
                    y = direccion_id;
                    var direccion = document.getElementById("id_direccion_select");
                    direccion.value = direccion_id;
                    if (x > 0 && y > 0) {
                        document.getElementById("pasoFinal").removeAttribute("disabled");
                    }
                }
            } catch (e) {
                console.log("usted no tiene cuenta")
            }
        </script>
    {% endif %}
{% endblock %}