{% extends 'base/base.html' %}
{% load staticfiles %}
{% load replacePunto %}

{% block title %}
    Elige tus platillos | Deli&Go
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <h2>Busca tus platillos</h2>

            <form method="get" action=".">
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input type="submit" value="A comer!">
                        </td>
                    </tr>
                </table>
                {% if query %}
                    {% if page.has_previous or page.has_next %}
                        <div>
                            {% if page.has_previous %}
                                <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;
                            Previous
                            {% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}
                                <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}
                            Siguiente &raquo;{% if page.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    {# Show some example queries to run, maybe query syntax, something else? #}
                {% endif %}
            </form>
        </div>
    </div>
    {% if query %}
        <div class="row">
            {% if page.object_list|length == 0 %}
                <div class="col-lg-12">
                    <h1>No hay resultados disponibles por el momento</h1>
                    <a href="{% url 'index' %}">
                        <span class="btn">
                            Ver Platillos
                        </span>
                    </a>
                </div>
            {% else %}
                <div class="col-lg-12">
                    <h1>Platillos encontrados</h1>
                </div>

            {% endif %}

            {% for result in page.object_list %}
                <div class="col-lg-3">
                    <form action="{% url 'servicios_app:detallePlatillo' %}" method="post">
                        {% csrf_token %}
                        Nombre Platillo: {{ result.object.nombre }}
                        <input type="hidden" name="id_platillo" value="{{ result.object.id }}">
                        {% comment %}
                        <input type="image" src="{{ result.object.imagen|replacePunto }}" height="100" width="100">
                        {% endcomment %}
                        <input type="image" src="{{ result.object.imagen|replacePunto }}" height="100" width="100">
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}