<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
¡Hola!
<br>
has pasado la revision entra al siguiente link para continuar la configuracion
<br>
{{ url }}
</body>
</html>