<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3>
    {{ contacto.nombre_restaurante }}
    <br>
    {{ contacto.nombre_responsable }}
    <br>
    {{ contacto.telefono }}
    <br>
    {{ contacto.email }}
    <br>
    {{ contacto.fecha_hora }}
    <br>
    {{ contacto.nombre_direccion }}
    <br>
    {{ contacto.url_yelp }}
</h3>
</body>
</html>