<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
Hola,
<br>
Estimado afiliado te informamos que se ha realizado el pago de los pedidos efectuados en la semana {{ fecha }}, te
sugerimos revisar el saldo de tu cuenta como garantía de dicha operación.
<br>
Gracias por ser parte de Deli&Go
</body>
</html>