html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-size: 12pt;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    background-color: #fafdfa;
    overflow-x: hidden;
}

.border-top {
    border-top: 1px solid #e0e0e0;
}

.border-bottom {
    border-bottom: 1px solid #e0e0e0;
}

.label-tag {
    background-color: transparent;
    color: #212121;
    border: 1px solid #e0e0e0;
}

.text-black {
    color: #212121 !important;
}

.nav-tabs:not(.row) {
    display: table;
    width: 100%;
}

.nav-tabs:not(.row) > li {
    float: none;
    display: table-cell;
}

.nav-tabs:not(.row) > li > a {
    text-align: center;
}

.inline {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Cabin', sans-serif !important;*/
    font-weight: 400;
}

.card {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.input-lg {
    height: 3em;
}

.animate {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

label {
    font-weight: 600 !important;
}

textarea {
    height: 4em !important;
}

.btn {
    text-transform: none !important;
}

.font-100 {
    font-weight: 100 !important;
}

.font-300 {
    font-weight: 300 !important;
}

.font-400 {
    font-weight: 400 !important;
}

.font-600 {
    font-weight: 600 !important;
}

.font-800 {
    font-weight: 800 !important;
}

.font-900 {
    font-weight: 900 !important;
}

.valign-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.valign-wrapper .valign {
    display: block
}

i {
    font-size: inherit;
}

.navbar {
    border-radius: 0 !important;
}

.zopim {
    display: none !important;
}

.fa-2x {
    font-size: 2em !important;
}

.no-hover:hover {
    background: inherit !important;
}

.navbar .container-fluid {
    /* padding: 0 4em !important; */
}

input[type="checkbox"] {
    top: -1px;
}

.geoposition-search {
    float: none !important;
    width: inherit !important;
}

.geoposition-map {
    height: 18em !important;
}

.navbar-inverse.navbar-transparent {
    background-color: rgba(32, 139, 129, 0.8);
}

i {
    line-height: inherit !important;
    font-size: inherit !important;
    vertical-align: bottom !important;
    margin: 0 2pt !important;
}

.transparent {
    background: transparent !important;
}

.no-border, .well {
    border: 0;
}

.no-margins {
    margin: 0 !important;
}

.no-paddings {
    padding: 0 !important;
}

nav.navbar, nav.navbar .navbar-collapse {
    margin: 0;
}

.navbar-inverse a {
    color: #fff !important;
}

.white {
    background-color: #fff;
}

.section {
    margin: 40px 0;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.mid {
    width: 49.63%;
    display: inline-block;
}

a, a:hover {
    color: inherit;
}

*.text-white {
    color: #ffffff !important;
}

.shadow, .btn {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

ul.navbar-nav.navbar-center {
    text-align: center;
    float: none;
}

ul.navbar-nav.navbar-center li, ul.navbar-nav.navbar-center li a {
    float: none !important;
}

.no-shadow {
    box-shadow: none !important;
}

.btn-action {
    font-size: 16pt;
}

.btn-link:hover, .btn-link:active:hover {
    background: inherit;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.info-platillo {
    padding: 10px;
}

.info-platillo p {
    margin-bottom: 0;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.pointer {
    cursor: pointer;
}

.error {
    color: #E53935;
}

.text-center {
    text-align: center;
}

.well {
    margin-bottom: 0;
}

.right {
    float: right !important;
}

.m-t-0 {
    margin-top: 0;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t-md {
    margin-top: 15px;
}

.m-t-lg {
    margin-top: 20px;
}

.m-t-xl {
    margin-top: 40px;
}

.m-t-xxl {
    margin-top: 60px;
}

.p-0 {
    padding: 0;
}

.dropdown-menu {
    font-size: 16px;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background: none;
}

.navbar-icon {
    padding-top: 19px !important;
    padding-bottom: 0 !important;
}

.navbar-icon i {
    font-size: 1.5em !important;
}

.error {
    font-size: 9pt;
}

.avatar {
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: inherit !important;
}

.center {
    margin: auto auto !important;
}

.border {
    border: 1px solid #eee;
}

/* Center tabs */
.nav-tabs.center-tabs > li, .nav-pills.center-tabs > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs.center-tabs, .nav-pills.center-tabs {
    text-align: center;
}
